{# src/Sinaptica/ProveedoresBundle/Resources/views/Default/new.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Aprobar Plan de Accion{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Aprobar Plan de Accion</h2>
		</div>
		<div class="box-content">
			<div id="dashboard">
                    <div id="tabla" class="" cellspacing="0" width="100%">
                      <table id="convocatorias" class="display">
                        <thead  style="display:table-row-group;">
                          <tr>
                            <th>Id</th>
                            <th>Proveedor</th>
                            <th>Periodo</th>
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>Plan</th>
                            <th>Total</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for calificacion in datos %}
                          <tr>
                            <td><a href="{{ path("calificacion_datos", {"id": calificacion.id}) }}">{{ calificacion.id }}</a></td>
                            <td>{{ calificacion.proveedor.nombre }}</td>
                            <td>{{ calificacion.periodo }}</td>
                            <td>{{ calificacion.numero }}</td>
                            <td>{{ calificacion.fecha | date("Y-m-d") }}</td>
                            <td>{{ calificacion.calificacion }}</td>
                            <td><a href="{{ calificacion.planAccion | slice(72) }}">{{ calificacion.planAccion | slice(72) }}</a></td>
                            <td><a class="btn btn-success" id="enlaceajax{{ calificacion.id }}" href="{{ path("plan_estado", {"id": calificacion.id}) }}">Aprobar</a></div></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot style="display: table-header-group;">
                           <tr>
                             <th>Id</th>
                            <th>Proveedor</th>
                            <th>Periodo</th>
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>Plan</th>
                            <th>Total</th>
                            <th></th>
                          </tr>                          
                        </tfoot>
                      </table>
                    </div>    
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

	<script type="text/javascript">
  $(document).ready(function() {
  //    inifuntion
   var table = $('#convocatorias').dataTable({
  
              "sDom": 'T<"clear">lfrtip',
               "bPaginate": true,
               "bLengthChange": true,
               "bFilter": true,
               "bSort": true,
               "bInfo": false,
               "bAutoWidth": true,
               "bJQueryUI": false,
               "sPaginationType": "full_numbers",
               "iDisplayLength": 50,
               "aLengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todo"] ],
                initComplete: function () {
                      this.api().columns().every( function () {
                          var column = this;
                          var select = $('<select style="width: 100%"><option value=""></option></select>')
                              .appendTo( $(column.footer()).empty() )
                              .on( 'change', function () {
                                  var val = $.fn.dataTable.util.escapeRegex(
                                      $(this).val()
                                  );
           
                                  column
                                      .search( val ? '^'+val+'$' : '', true, false )
                                      .draw();
                              } );
           
                          column.data().unique().sort().each( function ( d, j ) {
                              //limpiar
                              //d
                              select.append( '<option value="'+d+'">'+d+'</option>' )
                          } );
                      } );
                  }
      });
  
  })
  
  function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del proveedor")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>
	  
	  
	  
	</script>
{% endblock %}
