{% extends "::base.html.twig" %}

{% block title %}Editar Producto Redencion{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Editar Producto Redencion</h2>
                        <div class="box-icon">
                            <a href="{{ path('redenciones_datosredencion') }}/{{ redencion }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
    <form action="{{ path('redenciones_editarproducto') }}/{{ redencion }}" method="POST"  class="form-horizontal">
        {{ form_errors(form) }}
        <fieldset>
            <div class="control-group">
                {{ form_label(form.producto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.producto, { 'attr': {'class': 'input-xlarge focused'} }) }}
                </div>
            </div>
    <div class="form-actions">
        {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    {{ form_widget(form._token) }}
    </form>
</div>
</div>
 </div>
{% endblock %}
