{% extends "::base.html.twig" %}

{% block title %}Redenciones por programa{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Redenciones por programa</h2>
		</div>
		<div class="box-content">
			<div id="dashboard">
          <div id="tabla" class="" cellspacing="0" width="100%">
                      <table id="programas_redenciones" class="display">
                        <thead style="display:table-row-group;"  >
                          <tr>
                            <th>Programa</th>
                            <th>Redenciones</th>
                            <th>Sin autorizar</th>
			                      <th>Canceladas</th>
                            <th>Fecha ultima autorizacion</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for programa in programas  %}
                          <tr>
                            <td><a href="{{ path("redenciones_programa", {"programa": programa[0].id }) }}">{{ programa[0].nombre }}</a></td>
                            <td>{{ programa.total }}</td>
                            <td>{% if is_granted('ROLE_EJEC') or is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') %}
                                <a href="{{ path("redenciones_datos", {"id": programa[0].id }) }}">{{ programa.pendientes }}
                            {% else %}
                                {{ programa.pendientes }}
                            {% endif %}
                            </td>
                            <td>{{ programa.canceladas }}</td>
                            <td>{% if (programa.fecha) %}{{ programa.fecha | date("Y-m-d") }}{% else %}Aun no se han hecho autorizaciones{% endif %}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                         <tfoot style="display: table-header-group;">
                          <tr>
                            <th>Programa</th>
                            <th>Redenciones</th>
                            <th>Sin autorizar</th>
			                       <th>Canceladas</th>
                            <th>Fecha ultima autorizacion</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
      </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

 <script type="text/javascript">
 $(document).ready(function() {
//    inifuntion
 var table = $('#programas_redenciones').dataTable({

            "sDom": 'T<"clear">lfrtip',
             "bPaginate": true,
             "bLengthChange": true,
             "bFilter": true,
             "bSort": true,
             "bInfo": false,
             "bAutoWidth": true,
             "bJQueryUI": false,
             "sPaginationType": "full_numbers",
             "iDisplayLength": 50,
             "aLengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todo"] ],
              initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select style="width: 100%"><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
         
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
         
                        column.data().unique().sort().each( function ( d, j ) {
                            //limpiar
                            //d
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
    });

})
  </script>

  <script type="text/javascript">
      function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>

{% endblock %}
