{% extends "::base.html.twig" %}

{% block title %}Generar Planillas{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Generar Planillas</h2>
                        <div class="box-icon">
                            <a href="{{ path('planillas_lista') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">

    <table class="table table-bordered table-striped">
        <tr>
            <th>País</th>
            <th>Categoria</th>
            <th>Cantidad</th>
            <th></th>
        </tr>
        {% for categoria in despachos %}
           <tr><td>{{ categoria[0].redencionesproductos.redencion.premio.catalogos.pais.nombre }}</td>
                <td>{{ categoria[0].redencionesproductos.producto.categoria.nombre }}</td>
                <td>{{ categoria.total }}</td>
                <td>
                    <a class="btn btn-info" onClick="post('{{ path('planillas_generarsegmentado') }}', {pais:{{ categoria[0].redencionesproductos.redencion.premio.catalogos.pais.id }}, categoria: {{ categoria[0].redencionesproductos.producto.categoria.id }}})">Generar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</div>
 </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
  <script>
    function post(path, parameters) {
    var form = $('<form></form>');

    form.attr("method", "post");
    form.attr("action", path);

    $.each(parameters, function(key, value) {
        var field = $('<input></input>');

        field.attr("type", "hidden");
        field.attr("name", key);
        field.attr("value", value);
        form.append(field);
    });

    // The form needs to be a part of the document in
    // order for us to be able to submit it.
    $(document.body).append(form);
    form.submit();
}
  </script>
{% endblock %}
