{% extends "::base.html.twig" %}

{% block title %}Inventario{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Productos</h2>
      <a href="{{ path('proveedores_importar') }}" title="Carga Masiva">
            <button class="btn btn-small">
              <i class="icon-upload"></i>
            </button>
          </a>
      <a href="{{ path('proveedores_exportar') }}" title="Descargar">
            <button class="btn btn-small">
              <i class="icon-download"></i>
            </button>
          </a>
			<div class="box-icon">  
        <a href="{{ path('inventario_listado') }}" title="Agregar">
            <button class="btn btn-round">
              <i class="icon-arrow-left"></i>
            </button>
          </a>
			</div>
		</div>
		<div class="box-content">
			<div id="dashboard">
                    <div class="row-fluid">
                        <div id="control1" class="span3"></div>
                        <div id="control2" class="span3"></div>
                        <div id="control3" class="span3"></div>
                        <div id="control4" class="span3"></div>
                    </div>
                    <div id="tabla" class="row-fluid"></div>  
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

	<script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['controls']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Prepare the data.
        var data = google.visualization.arrayToDataTable([
          ['Producto', 'Cantidad' ,'Fecha Ingreso', 'Cantidad', 'Fecha Salida', 'Cantidad', 'Orden','Observacion'],
          {% for producto in inventario %}
                [ '{{ producto.producto.nombre }}',
                 '{{ producto.cantidad }}',
                 '{{ producto.fechaEntrada }}',
                 '{{ producto.producto.marca }}',
                 '{{ producto.fechaSalida }}',
                 '{{ producto.producto.codInc }}',
                 '{{ producto.producto.peso }}',
                 '{{ producto.id }}',],
            {% endfor %}
        ]);
      
        // Define a StringFilter control for the 'Name' column
        var stringFilter = new google.visualization.ControlWrapper({
          'controlType': 'StringFilter',
          'containerId': 'control1',
          'options': {
            'filterColumnLabel': 'Producto',
            'matchType': 'any'
          }
        });

        var stringFilter2 = new google.visualization.ControlWrapper({
          'controlType': 'StringFilter',
          'containerId': 'control2',
          'options': {
            'filterColumnLabel': 'Orden',
            'matchType': 'any'
          }
        });

        var stringFilter3 = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'control3',
          'options': {
            'filterColumnLabel': 'Fecha Ingreso',
            'ui': {
              'allowTyping': true,
              'allowMultiple': true
            }
          }
        });

        // Define a table visualization
        var table = new google.visualization.ChartWrapper({
                'chartType': 'Table',
                'containerId': 'tabla',
            options: {
              showRowNumber: true,
              page: 'enable',
              pageSize: 25,
              pagingSymbols: {
                  prev: '<<',
                  next: '>>'
              },
              pagingButtonsConfiguration: 'auto',
              'allowHtml': true,
          }
        });

        // Create the dashboard.
        var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard')).
          // Configure the string filter to affect the table contents
          bind(stringFilter, table).
          bind(stringFilter2, table).
          bind(stringFilter3, table).
          // Draw the dashboard
          draw(data);
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>

  <script type="text/javascript">
      function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del producto")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>

{% endblock %}

