{% extends "::base.html.twig" %}

{% block title %}Productos{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Productos</h2>
      <div class="box-icon"> 
              <a href="{{ path('producto_editar_mas') }}" title="Edicion Masiva" class="btn btn-round"><i class="icon-edit"></i></a>
              <a href="{{ path('producto_importar') }}" title="Carga Masiva" class="btn btn-round"><i class="icon-upload"></i></a>
              <a href="{{ path('producto_exportar') }}" title="Descargar" class="btn btn-round"><i class="icon-download"></i></a>
              <a href="{{ path('producto_nuevo') }}" class="btn btn-round" title="Agregar"><i class="icon-plus"></i></a>
      </div>
		</div>
		<div class="box-content">
			<div id="dashboard">
                   
                    <div id="tabla" class="" cellspacing="0" width="100%">
                      <table id="productos" class="display">
                        <thead style="display:table-row-group;">
                          <tr>
			                      <th>Id</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Referencia</th>
                            <th>Marca</th>
                            <th>EAN</th>
                            <th>SKU</th>
                            <th>Catalogos</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for producto in listado %}
                          <tr>
			                <td>{{ producto.producto.id }}</td>
                            <td><a href="{{ path("producto_datos", {"id": producto.producto.id}) }}">{{ producto.producto.nombre }}</a></td>
                            <td>{{ producto.producto.categoria.nombre }}</td>
                            <td>{{ producto.producto.referencia }}</td>
                            <td>{{ producto.producto.marca }}</td>
                            <td>{{ producto.producto.codEAN }}</td>
                            <td>{{ producto.producto.codInc }}</td>
                            <td><div data-toggle="tooltip">{{ producto.producto.productocatalogo|length }}</div></td>
                            <td>{% if (producto.producto.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("producto_estado", {"id": producto.producto.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("producto_estado", {"id": producto.producto.id}) }}')" href="#">Activo</a>{% endif %}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot style="display: table-header-group;">
                          <tr>
			                <th>Id</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Referencia</th>
                            <th>Marca</th>
                            <th>EAN</th>
                            <th>SKU</th>
                            <th>Peso</th>
                            <th>Estado</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>   
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

  <script type="text/javascript">
     $(document).ready(function() {
//    inifuntion
 var table = $('#productos').dataTable({

            "sDom": 'T<"clear">lfrtip',
             "bPaginate": true,
             "bLengthChange": true,
             "bFilter": true,
             "bSort": true,
             "bInfo": false,
             "bAutoWidth": true,
             "bJQueryUI": false,
             "sPaginationType": "full_numbers",
             "iDisplayLength": 50,
             "aLengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todo"] ],
              initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select style="width: 100%"><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
         
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
         
                        column.data().unique().sort().each( function ( d, j ) {
                            //limpiar
                            //d
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
    });

})
  
      function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del producto")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>
  
  <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

{% endblock %}

