{# src/Sinaptica/ProveedoresBundle/Resources/views/Default/new.html.twig #}
{% extends '::baseLte.html.twig' %}

{% block title %}Proveedores{% endblock %}
{% block sectiontitle %}<h1>Proveedores<small>Listado</small></h1>{% endblock %}
{% block breadcum %} <li><a href=""><i class="fa fa-hand-o-right"></i>Proveedores</a></li><li class="active"></li>{% endblock %}


{% block sidebar %}
{{ parent() }}
{% endblock %}

{% block content %}
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-users"></i>
              <h3 class="box-title">Proveedores</h3>
              <div class="box-tools pull-right"> 
                <a href="{{ path('proveedores_importar') }}" title="Carga Masiva" class="btn btn-primary"><i class="fa fa-upload"></i></a>
                <a href="{{ path('proveedores_exportar') }}" title="Descargar" class="btn btn-info"><i class="fa fa-download"></i></a>
                <a href="{{ path('proveedores_nuevo') }}" class="btn btn-success" title="Agregar"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable" id="example1" role="grid">
                        <thead>
                          {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
                          <form action="{{ path('proveedores') }}" method="POST" class="form-horizontal">
                          <tr role="row">
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Nombre</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Identificacion</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Pais</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Ciudad</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Correo</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Calificación</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Documentos</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Catalogos</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 230px;">Estado</th>
                            <th></th>
                          </tr>
                          <tr>
                            <th><input type="text" id="proveedor_id" name="proveedores[id]" style="width: 40px" value="{%if filtros.id is defined %}{{ filtros.id }}{% endif %}"></th>
                            <th>{{ form_widget(form.nombre, { 'attr': { 'style' : 'width: 150px' }, 'value': filtros.nombre | default("") } ) }}</th>
                            <th>{{ form_widget(form.numero_documento, { 'attr': { 'style' : 'width:150px' }, 'value': filtros.numero_documento | default("") } ) }}</th>
                            <th>{{ form_widget(form.pais, { 'attr': { 'style' : 'width:150px' }, 'value': filtros.pais | default("") } ) }}</th>
                            <th>{{ form_widget(form.ciudad, { 'attr': { 'style' : 'width:100px' }, 'value': filtros.ciudad | default("") } ) }}</th>
                            <th>{{ form_widget(form.correo, { 'attr': { 'style' : 'width:100px' },  'value': filtros.correo | default("") } ) }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ form_widget(form.estado, { 'attr': { 'style' : 'width:80px' },  'value': filtros.estado | default('1') } ) }}</th>
                            <th>{{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for proveedor in listado %}
                          <tr role="row">
                            <td>{{ proveedor.id }}</td>
                            <td><a href="{{ path("proveedores_datos", {"id": proveedor.id}) }}">{{ proveedor.nombre }}</a></td>
                            <td>{{ proveedor.numerodocumento }}</td>
                            <td>{% if proveedor.pais is null %}{% else %}{{ proveedor.pais.nombre }}{% endif %}</td>
                            <td>{% if proveedor.ciudad is null %}{% else %}{{ proveedor.ciudad.nombre }}{% endif %}</td>
                            <td>{{ proveedor.correo }}</td>
                            <td>{{ detalle.calificacion[proveedor.id] }}</td>
                            <td><div class="progress"><div class="progress-bar {{ detalle.clasedoc[proveedor.id] }} progress-bar-striped" style="width: {{ detalle.documentos[proveedor.id] }}%"></div></div></td>
                            <td>{%if detalle.catalogo[proveedor.id].fecha is defined %}{{ detalle.catalogo[proveedor.id].fecha | date("Y-m-d") }}{% endif %} {%if detalle.clasecat[proveedor.id] is defined %}<a class="btn {{ detalle.clasecat[proveedor.id] }}" href="#"><i class="fa fa-warning"></i></a>{% endif %}</td>
                            <td>{% if (proveedor.estado.id!=1) %}<a class="btn btn-danger" id="enlaceajax{{ proveedor.id }}" onClick="confirmar('{{ url("proveedores_estado", {"id": proveedor.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success" id="enlaceajax{{ proveedor.id }}" href="#" onClick="confirmar('{{ url("proveedores_estado", {"id": proveedor.id}) }}')">Activo</a>{% endif %}<div id="destino{{ proveedor.id }}"></div></td>
                          </tr>
                        {% endfor %}
                        </tbody>
              </table>
            </div>
          </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Mostrando {{ listado.getItemNumberPerPage*(listado.getCurrentPageNumber-1)+1  }} a {{ listado.getItemNumberPerPage*listado.getCurrentPageNumber }} de {{ listado.getTotalItemCount }}   Proveedores
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                      <div class="pagination pagination-centered">
                                    {{ knp_pagination_render(listado) }}                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
{% endblock %}

{% block javascript %}

{{ parent() }}

  <script type="text/javascript"> 
  function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del proveedor")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>

{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <style>
    body {
        width: 155%;
    }
  </style>

{% endblock %}