{% extends "::base.html.twig" %}

{% block title %}Datos Redencion{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}

<div class="row-fluid sortable ui-sortable">
<div class="box">
    <div class="box-header well" data-original-title="">
        Datos Redencion 
        <a href="{{ path('garantiasnovedad_nueva') }}/{{ redencion.id }}" title="Registrar Novedad">
            <button class="btn btn-primary">
              <i class="icon-edit icon-white"></i>
            </button>
          </a>
        <div class="box-icon">
                    <a href="{{ path('garantiasredenciones_programa') }}/{{ redencion.participante.programa.id }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                </div>
      </div>
    </div>
</div>
    <div class="box span12">
      <div class="box-content">
        
        <div class="box-header well">
        <h2>
        
        </i>Datos Redencion</h2>
        </h2>
      </div>
      

        <table class="table table-bordered table-striped">
          <tbody>
            <tr><td>Programa</td><td>{{ redencion.productocatalogo.catalogos.programa.nombre }}</td></tr>
            <tr><td>Participante</td><td>{{ redencion.participante.nombre }}</td></tr>
            <tr><td>Documento</td><td>{{ redencion.participante.documento }}</td></tr>
            <tr><td>Fecha de solicitud</td><td>{{ redencion.fecha | date("Y-m-d") }}</td></tr>
            <tr><td>Valor</td><td>{{ redencion.valor }}</td></tr>
            <tr><td>Codigo</td><td>{{ redencion.codigoredencion }}</td></tr>
            <tr><td>Estado</td><td>{{ redencion.redencionestado.nombre }}</td></tr>
            
          </tbody>
        </table>
    </div>
  </div>


  <div class="box span12">
    <div class="box-content">
      
        <div class="box-header well">
        <h2>
            <a href="">
              <button class="btn btn-small btn-success" style="display: none;">
                <i class="icon-plus icon-white"></i>
              </button>
            </a>
          Historico
        </h2>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Orden Compra</th>
            <th>Observacion</th>
            <th>Guia</th>
          </tr>
        </thead>
        <tbody>
          {% for datos in historico %} 
          <tr>
              <td>{{ datos.redencionestado.nombre }}</td>
              <td>{{ datos.fecha | date("Y-m-d") }}</td>
              <td>{% if datos.ordenesproducto is null %}{% else %}{{ datos.ordenesproducto.ordenescompra.consecutivo }}{% endif %}</td>
              <td>{{ datos.observacion }}</td>
              <td></td>
          </tr>         
          {% endfor %}

    </div>
  </div>


{% endblock %}

{% block javascripts %}

{{ parent() }}


{% endblock %}

