{% extends "::base.html.twig" %}

{% block title %}Novedades{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Novedades</h2>
      <div class="box-icon">
        <div class="box-icon">
                   
                </div>
      </div>
      
		</div>
		<div class="box-content">
      {% if novedades!=null %}
			<div id="dashboard">                  
                  <div id="tabla" class="" cellspacing="0" width="100%">
                      <table id="redenciones" class="display">
                        <thead style="display:table-row-group;">
                          <tr>
			                <th>Programa</th>
                            <th>Fecha</th>
                            <th>Codigo Redencion</th>
                            <th>Participante</th>
                            <th>Documento</th>
                            <th>Observacion</th>
                            <th>Solucion</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for novedad in novedades %}
                          <tr>
			                      <td>{{ novedad.redencion.participante.programa.nombre }}</td>
                            <td>{{ novedad.fecha | date("Y-m-d") }}</td>
                            <td><a href="{{ path("garantiasnovedades_accion") }}/{{ novedad.id }}">{{ novedad.redencion.codigoredencion }}</a></td>
                            <td>{{ novedad.redencion.participante.nombre }}</td>
                            <td>{{ novedad.redencion.participante.documento }}</td>
                            <td>{{ novedad.observacion }}</td>
                            <td>{{ novedad.solucion }}</td>
                            <td>{{ novedad.tipo.nombre }}</td>
                            <td>{{ novedad.estado.nombre }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot style="display: table-header-group;">
                          <tr>
			                      <th>Programa</th>
                            <th>Fecha</th>
                            <th>Codigo Redencion</th>
                            <th>Participante</th>
                            <th>Documento</th>
                            <th>Observacion</th>
                            <th>Solucion</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>    
        </div>
            {% else %}
            <div class="alert alert-info">
                      No existen novedades
                    </div>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script type="text/javascript">
    $(document).ready(function() {
//    inifuntion
 var table = $('#redenciones').dataTable({

            "sDom": 'T<"clear">lfrtip',
             "bPaginate": true,
             "bLengthChange": true,
             "bFilter": true,
             "bSort": true,
             "bInfo": false,
             "bAutoWidth": true,
             "bJQueryUI": false,
             "sPaginationType": "full_numbers",
             "iDisplayLength": 50,
             "aLengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todo"] ],
              initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select style="width: 100%"><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
         
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
         
                        column.data().unique().sort().each( function ( d, j ) {
                            //limpiar
                            //d
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
    });

})
    </script>

{% endblock %}

