{% extends "::base.html.twig" %}

{% block title %}Datos de Envio{% endblock %}

{% block cuerpo %}
<div class="box">
    <div class="box-header well" data-original-title="">
        Datos de Envio
        <div class="box-icon">
        <div class="box-icon">
                    <a href="{{ path('redenciones_datosredencion') }}/{{ redencion.id }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                </div>
      </div>
    </div>
</div>
    <div class="box span12">
      <div class="box-content">
        
        <div class="box-header well">
        <h2>
        
        </i>Datos Redencion</h2>
        </h2>
      </div>
      

        <table class="table table-bordered table-striped">
          <tbody>
            <tr><td>Programa</td><td>{{ redencion.productocatalogo.catalogos.programa.nombre }}</td></tr>
            <tr><td>Participante</td><td>{{ redencion.participante.nombre }}</td></tr>
            <tr><td>Documento</td><td>{{ redencion.participante.documento }}</td></tr>
            <tr><td>Fecha de solicitud</td><td>{{ redencion.fecha | date("Y-m-d") }}</td></tr>
            <tr><td>Valor</td><td>{{ redencion.valor }}</td></tr>
            <tr><td>Codigo</td><td>{{ redencion.codigoredencion }}</td></tr>
            <tr><td>Estado</td><td>{{ redencion.redencionestado.nombre }}</td></tr>
            
          </tbody>
        </table>
    </div>
  </div>


 <div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Datos de Envio</h2>
                        
                    </div>
<div class="box-content">
<form action="" method="POST" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    <fieldset>
        <div class="control-group">
            {{ form_label(form.documento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.documento, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.ciudadNombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.ciudadNombre, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.direccion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.direccion, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
	<div class="control-group">
            {{ form_label(form.barrio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.barrio, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.telefono, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.telefono, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
	   <div class="control-group">
            {{ form_label(form.celular, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.celular, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
	   <div class="control-group">
            {{ form_label(form.departamentoNombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.departamentoNombre, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
	
	<div class="control-group">
            {{ form_label(form.nombreContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.nombreContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.documentoContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.documentoContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.ciudadContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.ciudadContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.direccionContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.direccionContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
    <div class="control-group">
            {{ form_label(form.barrioContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.barrioContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.telefonoContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.telefonoContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
    <div class="control-group">
            {{ form_label(form.celularContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.celularContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
    <div class="control-group">
            {{ form_label(form.departamentoContacto, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.departamentoContacto, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
    </fieldset>
 <div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>

  {% endblock %}
