<table>
    <tr>
        <th></th>
        <th>Redencion</th>
        <th>Programa</th>
        <th>Participante</th>
        <th>Documento</th>
        <th>Fecha</th>
        <th>Producto</th>
        <th>Sku</th>
        <th>Precio</th>
        <th>Proveedor</th>
        <th>Precio</th>
        <th>Proveedor</th>
    </tr>
{% set i = 0%}
{% for redencion in redenciones %}
        {% set ocultar = 0 %}
        {% for precio in redencion.producto.productoprecio %}
            {% if(precio.proveedor.id==327) %}
                {% set ocultar = 1 %}
            {% endif %}
        {% endfor %}   
    {% if(ocultar == 0) %} 
    {% set i=i+1 %}
    <tr>
        <td>{{i}}</td>
        <td>{{ redencion.redencion.codigoredencion }}</td>
        <td>{{ redencion.redencion.participante.programa.nombre }}</td>
        <td>{{ redencion.redencion.participante.nombre }}</td>
        <td>{{ redencion.redencion.participante.documento }}</td>
        <td>{{ redencion.fecha | date("Y-m-d") }}</td>
        <td>{{ redencion.producto.nombre }}</td>
        <td>{{ redencion.producto.codInc }}</td>
        {% if redencion.producto.productoprecio is not null  %}
        {% for precio in redencion.producto.productoprecio %}
                <td>{{ precio.precio }}</td>
                <td>{{ precio.proveedor.nombre }}</td>
        {% endfor %}
        {% else %}
            <td></td>
            <td></td>
        {% endif %}
        
    </tr>
    {% endif %}
{% endfor %}
</table>