{% extends '::baseLte.html.twig' %}

{% block title %}Proveedor Datos{% endblock %}
{% block sectiontitle %}<h1>Proveedores<small>Datos</small></h1>{% endblock %}
{% block breadcum %} <li><a href="{{ path('proveedores') }}"><i class="fa fa-hand-o-right"></i>Proveedores</a></li><li class="active">Datos</li>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
	    <div class="box box-warning">
		    	<div class="box-header bg-black">
		    		<h3 class="box-title">Datos Proveedor</h3>
					<div class="box-tools pull-right">
					{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP')) or is_granted('ROLE_CAT') or is_granted('ROLE_LOGIS') %}
						<a href="{{ path('proveedores_editar',  {"id": proveedor.id}) }}" title="Editar proveedor">
							<button class="btn btn-primary">
								<i class="fa fa-edit icon-white"></i>
							</button>
						</a>
					{% endif %}
					{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_CAT') or is_granted('ROLE_LOGIS'))  %}
							<a href="{{ path('productos_proveedor',  {"id": proveedor.id}) }}"  class="btn btn-info" title="Productos">
			            		<i class="fa fa-barcode icon-white"></i>
							</a>
							<a href="{{ path('proveedores_importar_proveedor',  {"id": proveedor.id}) }}"  class="btn btn-info" title="Asignar productos a proveedor">
			            		<i class="fa fa-list-alt icon-white"></i>
							</a>
							<a href="{{ path('usuario_correo_ingreso',  {"id": proveedor.id}) }}"  class="btn btn-info" title="Enviar correo de ingreso">
						           <i class="fa fa-envelope icon-white"></i>
							</a>
					{% endif %}
					</div>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped">
						<tbody>
							<tr><td>Nombre</td><td>{{ proveedor.nombre }}</td></tr>
							<tr><td>Tipo de Documento</td><td>{{ proveedor.tipodocumento.nombre }}</td></tr>
							<tr><td>Documento</td><td>{{ proveedor.numerodocumento }}</td></tr>
							<tr><td>Correo</td><td>{{ proveedor.correo }}</td></tr>
							<tr><td>Categoria</td><td>{% if proveedor.categoria is null %}{% else %}{{ proveedor.categoria.nombre }}{% endif %}</td></tr>
							<tr><td>Clasificacion</td><td>{% if proveedor.proveedorclasificacion is null %}{% else %}{{ proveedor.proveedorclasificacion.nombre }}{% endif %}</td></tr>
	                        <tr><td>Area</td><td>{% if proveedor.proveedorarea is null %}{% else %}{{ proveedor.proveedorarea.nombre }}{% endif %}</td></tr>
	                        <tr><td>Tipo</td><td>{% if proveedor.proveedortipo is null %}{% else %}{{ proveedor.proveedortipo.nombre }}{% endif %}</td></tr>
							<tr><td>Registro Camara</td><td>{{ proveedor.registrocamara }}</td></tr>
							<tr><td>Sede Principal</td><td>{{ proveedor.sedeprincipal }}</td></tr>
							<tr><td>Dirección</td><td>{{ proveedor.direccion }}</td></tr>
							<tr><td>Teléfono</td><td>{{ proveedor.telefono }}</td></tr>
							<tr><td>Línea de Atención</td><td>{{ proveedor.lineaAtencion }}</td></tr>
							<tr><td>Tiempo de Entrega</td><td>{{ proveedor.tiempoEntrega }} días</td></tr>
							<tr><td>Sedes</td><td>{{ proveedor.sedes }}</td></tr>
							<tr><td>Datos Sedes</td><td>{{ proveedor.datossedes }}</td></tr>
							<tr><td>Página Web</td><td>{{ proveedor.pagina }}</td></tr>
							<tr><td>Fecha de Creación</td><td>{{ proveedor.fecha | date("Y-m-d") }}</td></tr>
							<tr><td>Actividades Económicas</td><td>{% for actividad in aeconomica %}{{actividad.codigo}} - {% endfor %}</td></tr>
						</tbody>
					</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box box-warning">
			    <div class="box-header bg-black">
					<h3 class="box-title">Documentos</h3>
					<div class="box-tools pull-right">
						<a href="{{ path('proveedores_documentos_carga',  {"id": proveedor.id}) }}" title="Agregar Documento">
								<button class="btn btn-small btn-success">
									<i class="fa fa-plus icon-white"></i>
								</button>
						</a>
					</div>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Fecha</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							{% for archivos in archivo %}		
									<tr>
										<td><a href="{{asset(archivos.ruta | slice (5))}}{{archivos.archivo}}" target="_blank">{{archivos.archivo}}</a></td>
										<td>{{archivos.fecha | date("Y-m-d")}}</td>
										<td>{% if (archivos.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("proveedores_archivo_estado", {"id": archivos.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("proveedores_archivo_estado", {"id": archivos.id}) }}')" href="#">Activo</a>{% endif %}</td>
									</tr>			
							{% endfor %}
						</tbody>
					</table>
				</div>
		</div>
	</div>
		
	<div class="col-md-6">
		<div class="box box-warning">
			    <div class="box-header bg-black">
					<h3 class="box-title">Catálogos</h3>
					<div class="box-tools pull-right">
							<a href="{{ path('proveedores_catalogo_carga',  {"id": proveedor.id}) }}" title="Cargar Catalogo">
								<button class="btn btn-small btn-success">
									<i class="fa fa-plus icon-white"></i>
								</button>
							</a>
					</div>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Fecha</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							{% for catalogos in catalogo %}		
								<tr>
									<td><a href="{{asset(catalogos.ruta | slice (5))}}{{catalogos.archivo}}" target='_blank'>{{catalogos.archivo}}</a></td>
									<td>{{catalogos.fecha | date("Y-m-d") }}</td>
									<td>{% if (catalogos.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("proveedores_catalogo_estado", {"id": catalogos.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("proveedores_catalogo_estado", {"id": catalogos.id}) }}')" href="#">Activo</a>{% endif %}</td>
								</tr>			
							{% endfor %}
						</tbody>
					</table>
				</div>
		</div>
	</div>
		
	<div class="col-md-6">
		<div class="box box-warning">
			    <div class="box-header bg-black">
					<h3 class="box-title">Calificación</h3>
					<div class="box-tools pull-right">
					{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP'))  %}
							<a href="{{ path('proveedores_calificacion',  {"id": proveedor.id}) }}" title="Calificar Proveedor">
								<button class="btn btn-small btn-success">
									<i class="fa fa-plus icon-white"></i>
								</button>
							</a>
						{% endif %}
					</div>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Periodo</th>
								<th>N°</th>
								<th>Calificación</th>
								<th>Plan Acción</th>
							</tr>
						</thead>
						<tbody>
							{% for calif in calificacion %}		
								<tr>
									<td>{{calif.periodo }}</td>
									<td>{{calif.numero }}</td>
									<td><a href="{{ path("calificacion_datos", {"id": calif.id}) }}">{{calif.calificacion}}</a></td>
									<td>{% if calif.planAccion is defined and calif.planAccion!="" %}<a href="{{ calif.planAccion | slice(72) }}">Descargar</a>{% endif %}</td>
								</tr>			
							{% endfor %}
						</tbody>
					</table>
				</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="box box-warning">
			<div class="box-header bg-black">
				<h3 class="box-title">Contactos</h3>
				<div class="box-tools pull-right">
					<a href="{{ path('contacto_nuevo',  {"id": proveedor.id}) }}" title="Agregar Contacto">
						<button class="btn btn-small btn-success">
							<i class="fa fa-plus icon-white"></i>
						</button>
					</a>
				</div>
			</div>
			<div class="box-body">
				<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Id</th>
									<th>Nombre</th>
									<th>Correo</th>
									<th>Teléfono</th>
									<th>Cargo</th>
								</tr>
							</thead>
							<tbody>
								{% for contactos in contacto %}
								<tr>
									<td>{{contactos.id}}</td>
									<td>{{contactos.nombres}}</td>
									<td>{{contactos.correo}}</td>
									<td>{{contactos.telefono}}</td>
									<td>{{contactos.cargo}}</td>
								</tr>
								{% endfor %}
							</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>

	function confirmar(ruta)
	{
	  if (confirm("Deseo eliminar el documento")==true){
	  	self.location=ruta;
	  }else{
	  	alert("OK");
	  }
	  
	}

        var x;
		x=$(document);
		x.ready(inicializarEventos);

		function inicializarEventos()
		{
		 var x;
		 x=$("div.estado a");
		 x.each(resaltarParrafos);
		}

		// function resaltarParrafos()
		// {
		//  var x=$(this);
		//  var parrafo=(x.attr('id'));
		//  parrafo=parseInt(parrafo);
		//  alert(parrafo);
		//  $("#"+parrafo).click(function(evento){
		//                evento.preventDefault();
		//                $("#destino").load("{{ url('proveedores_estado', {'id':"+parrafo+"}) }}"),	
		// 					function() {
		// 						alert( "Actualizacion realizada." );
		// 					} );
		//        });
		// }

        // x=$("div.estado a");
        // x.each(mostrar);

        // function mostrar()
        // {
        // 	var x=$(this);
        // 	alert (x.attr('id'));
        // }

  //       function resaltarParrafos(){
  //       	var x=$(this);
		// 	var parrafo=(x.attr('id'));
		// 	alert(parrafo);
		// 	$('div.estado').click(function(evento){
		// 		evento.preventDefault();
		// 		$("#destino").load("{{ url('proveedores_estado', {'id':"+parrafo+"}) }}",	
		// 			function() {
		// 				alert( "Actualizacion realizada." );
		// 			} );
		// 	});
		// })
	</script>
{% endblock %}
