<table>
    <tr>
        <th>Id</th>
        <th>Redencion</th>
        <th>Programa</th>
        <th>Participante</th>
        <th>Documento</th>
        <th>Fecha</th>
        <th>Valor Compra</th>
        <th>Valor Venta</th>
        <th>Rentabilidad</th>
    </tr>
{% set ij = 0 %}
{% for redencion in redenciones %}
    <tr>
        {% set ij = ij + 1 %}
        <td>{{ ij }}</td>
        <td>{{ redencion.redencion.codigoredencion }}</td>
        <td>{{ redencion.redencion.participante.programa.nombre }}</td>
        <td>{{ redencion.redencion.participante.nombre }}</td>
        <td>{{ redencion.redencion.participante.documento }}</td>
        <td>{{ redencion.redencion.fecha | date("Y-m-d") }}</td>
        {% set rentabilidad = 0 %}
        {% set valorventa = 0 %}
        {% set valorcompra = redencion.ordenesProducto.valorunidad %}
        {% if (redencion.ordenesProducto.valorunidad!=0 and redencion.redencion.valorCompra!=0) %}
            {% if (redencion.ordenesProducto.ordenesCompra.trm!=0) %}
                {% set valorcompra = (redencion.ordenesProducto.valorunidad/redencion.ordenesProducto.ordenesCompra.trm) %}
            {% endif %}
            {% set valorventa = redencion.redencion.valorCompra/(1-(redencion.redencion.incremento/100)) %}
            {% set rentabilidad = (1-((redencion.ordenesProducto.valorunidad - (redencion.ordenesProducto.descuento/redencion.ordenesProducto.cantidad))/valorventa ))*100 %}
            {% if (redencion.ordenesProducto.ordenesCompra.trm!=0) %}
                 {% set rentabilidad = (1-(((redencion.ordenesProducto.valorunidad - (redencion.ordenesProducto.descuento/redencion.ordenesProducto.cantidad))/redencion.ordenesProducto.ordenesCompra.trm)/valorventa ))*100 %}
            {% endif %}
        {% endif %}
        <td>${{ valorcompra |number_format(2, ',', '.') }}</td>
        <td>${{ valorventa |number_format(2, ',', '.') }}</td>
        <td>{{ rentabilidad |number_format(2, ',', '.') }}%</td>
    </tr>

{% endfor %}
</table>
