{% extends '::baseLte.html.twig' %}

{% block title %}{{ parent() }}::Datos Promoción{% endblock %}
{% block sectiontitle %}<h1>Catálogos<small>Datos Promoción</small></h1>{% endblock %}
{% block breadcum %} <li><a href="{{ path('promociones') }}"><i class="fa fa-star"></i>Promociones</a>
	</li>
	<li class="active">Datos Promoción</li>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6">
	    <div class="box box-warning">
		    <div class="box-header bg-black">
				<h3 class="box-title">Datos Promoción</h3>
				<div class="box-tools pull-right">
					{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_CAT') %}
					<a id="editar" href="{{ path('promociones_editar',  {"promocion": promocion.id}) }}" title="Editar">
						<button class="btn btn-primary">
							<i class="fa fa-edit"></i>
						</button>
					</a>
					{% endif %}
				</div>
			</div>
			<div class="box-body">
				<table class="table table-bordered table-striped table-condensed dataTable">
					<tbody>
						<tr><td>Nombre</td><td>{{ promocion.nombre }}</td></tr>
						<tr><td>Descripción</td><td>{{ promocion.descripcion }}</td></tr>
						<tr><td>Catálogo</td><td>{{ promocion.premio.catalogos.nombre }}</td></tr>
						<tr><td>Premio</td><td>{{ promocion.premio.premiosproductos[0].producto.nombre }}</td></tr>
						<tr><td>Fecha inicio</td><td>{{ promocion.fechaInicio | date("Y-m-d") }}</td></tr>
						<tr><td>Fecha fin</td><td>{{ promocion.fechaFin | date("Y-m-d") }}</td></tr>
						<tr><td>Puntos Promoción</td><td>{{ promocion.puntos }}</td></tr>
						<tr><td>Puntos Sin Promoción</td><td>{{ promocion.premio.puntos }}</td></tr>
						<tr><td>Cantidad Total</td><td>{{ promocion.cantidad }}</td></tr>
						<tr><td>Cantidad Redimida</td><td>{{ promocion.redimidos }}</td></tr>
						<tr><td>Cantidad Disponible</td><td>{{ promocion.disponibles }}</td></tr>
						<tr><td>Estado</td><td>
									{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_CAT') %}
										<a class="btn {% if (promocion.estado.id==1) %}btn-success{% else %}btn-danger{% endif %} 1" onClick=confirmar('{{ url("promociones_estado", {"promocion": promocion.id}) }}') href="#">
										{{ promocion.estado.nombre }}</a>
									{% else %}
										{{ promocion.estado.nombre }}
									{% endif %}</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}

{% block javascript %}
	
	{{ parent() }}
	
	<script>

	function confirmar(ruta)
	{
	  if (confirm("Cambiar estado")==true){
	  	self.location=ruta;
	  }else{
	  	alert("OK");
	  }
	  
	}

	$("#editar").colorbox({href: this.href });

	</script>
{% endblock %}
