{% extends "::base.html.twig" %}

{% block title %}Participante nuevo{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Nuevo Participante</h2>
                        <div class="box-icon">
                            <a href="{{ path('participante') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('participante_nuevo') }}" method="POST"  class="form-horizontal">
    {{ form_errors(form) }}
    <fieldset>
        <div class="control-group">
            {{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.nombre, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.tipodocumento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.tipodocumento, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.documento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.documento, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.ciudad, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.ciudad, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.direccion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.direccion, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.barrio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.barrio, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.telefono, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.telefono, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.celular, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.celular, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
            {{ form_label(form.programa, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.programa, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
<div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}
