{% extends "::base.html.twig" %}

{% block title %}Maestro{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Maestro</h2>
                        <div class="box-icon">
                            <a href="{{ path('cliente') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('maestro') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}

    <fieldset>
      
    </fieldset>
    
<div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Get the div that holds the collection of addresses
        var collectionHolder = $('div.contactos');

        var Holder = $('button.btn-primary');

        // setup an "add a address" link
        var $newLinkLi = $('<button class="btn"><a href="#">Agregar un contacto</a></button>');

        $(function(){

            // add the "add a address" anchor and li to the addresses div
            Holder.parent().append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            $newLinkLi.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new address form (see next code block)
                addTagForm(collectionHolder);
            });

        });


        function addTagForm(collectionHolder) {
            // Get the data-prototype explained earlier
            var titulo=$('<div class="box-header well" data-original-title="">Agregar Imagen</div>;');
            var prototype = collectionHolder.data('prototype');

            // get the new index
            var index = collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a address" link li
            var $newFormLi = $('<div class="box span4" id="contacto'+ index +'"><div class="box-header well" data-original-title="">Agregar Contacto<div class="box-icon"><a class="btn btn-closer btn-round"  id="closecontacto'+ index +'" href="#"><i class="icon-remove"></i></a></div></div></div>').append(newForm);
            collectionHolder.append($newFormLi);

            var $Closer = $('#closecontacto'+ index);

             $Closer.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                $( "div" ).remove( "#contacto"+ index );
            });
        }
    </script>

{% endblock %}
