{# src/Sinaptica/ProveedoresBundle/Resources/views/Default/new.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Cargar Plan de Acción{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Cargar Plan de Acción</h2>
                        <a class="btn btn-mini btn-success" style="margin-left: 20px" href="{{ asset('Calificacion/planAccion.doc') }}">
                                <i class=" icon-white"></i>
                                Formato
                            </a>
                        <div class="box-icon">
                            <a href="{{ path('proveedores_datos') }}/{{ id }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('proveedores_cargaplan',  {"id": id}) }}" method="POST"  class="form-horizontal">
    {{ form_errors(form) }}
    <fieldset>
        <div class="control-group">
            {{ form_label(form.planaccion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.planaccion, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.observacionproveedor, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.observacionproveedor, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
    </fieldset> 
<div class="form-actions">
    <input type="hidden" name="id" value="{{ id }}">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}