{# src/Sinaptica/ProveedoresBundle/Resources/views/Default/new.html.twig #}
{% extends '::base.html.twig' %}
{% block title %}Proveedores{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12" style="width: 1600px !important">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Proveedores</h2>
			<div class="box-icon"> 
              <a href="{{ path('proveedores_importar') }}" title="Carga Masiva" class="btn btn-round"><i class="icon-upload"></i></a>
              <a href="{{ path('proveedores_exportar') }}" title="Descargar" class="btn btn-round"><i class="icon-download"></i></a>
              <a href="{{ path('proveedores_nuevo') }}" class="btn btn-round" title="Agregar"><i class="icon-plus"></i></a>
			</div>
		</div>
		<div class="box-content">
			<div id="dashboard">
                    <div id="tabla" class="table table-bordered table-striped" cellspacing="0" width="100%">
                      <table id="proveedores" class="display">
                      {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
                        <form action="{{ path('proveedores') }}" method="POST" class="form-horizontal">
                        <div class="box-icon">{{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}</div>
                        <thead  style="display:table-row-group;">
                          <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Identificacion</th>
                            <th>Pais</th>
                            <th>Ciudad</th>
                            <th>Correo</th>
                            <th>Calificación</th>
                            <th>Documentos</th>
                            <th>Catalogos</th>
                            <th>Estado</th>
                          </tr>
                          <tr>
                            
                            <th><input type="text" id="proveedor_id" name="proveedores[id]" style="width: 40px" value="{%if filtros.id is defined %}{{ filtros.id }}{% endif %}"></th>
                            <th>{{ form_widget(form.nombre, { 'attr': { 'style' : 'width: 150px' }} ) }}</th>
                            <th>{{ form_widget(form.numero_documento, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                            <th>{{ form_widget(form.pais, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                            <th>{{ form_widget(form.ciudad, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                            <th>{{ form_widget(form.correo, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{ form_widget(form.estado, { 'attr': { 'style' : 'width:80px' }} ) }}</th>
                          </tr>
                        </thead>
                        </form>
                        <tbody>
                          {% for proveedor in listado %}
                          <tr>
                            <td>{{ proveedor.id }}</td>
                            <td><a href="{{ path("proveedores_datos", {"id": proveedor.id}) }}">{{ proveedor.nombre }}</a></td>
                            <td>{{ proveedor.numerodocumento }}</td>
                            <td>{% if proveedor.pais is null %}{% else %}{{ proveedor.pais.nombre }}{% endif %}</td>
                            <td>{% if proveedor.ciudad is null %}{% else %}{{ proveedor.ciudad.nombre }}{% endif %}</td>
                            <td>{{ proveedor.correo }}</td>
                            <td>{{ detalle.calificacion[proveedor.id] }}</td>
                            <td><div class="progress {{ detalle.clasedoc[proveedor.id] }} progress-striped"><div class="bar" style="width: {{ detalle.documentos[proveedor.id] }}%"></div></div></td>
                            <td>{%if detalle.catalogo[proveedor.id].fecha is defined %}{{ detalle.catalogo[proveedor.id].fecha | date("Y-m-d") }}{% endif %} {%if detalle.clasecat[proveedor.id] is defined %}<a class="btn {{ detalle.clasecat[proveedor.id] }}" href="#"><i class="icon-warning-sign"></i></a>{% endif %}</td>
                            <td>{% if (proveedor.estado.id!=1) %}<a class="btn btn-danger" id="enlaceajax{{ proveedor.id }}" onClick="confirmar('{{ url("proveedores_estado", {"id": proveedor.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success" id="enlaceajax{{ proveedor.id }}" href="#" onClick="confirmar('{{ url("proveedores_estado", {"id": proveedor.id}) }}')">Activo</a>{% endif %}<div id="destino{{ proveedor.id }}"></div></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>  
            </div>
		</div>
    <div class="box span11">
        <div class="box-content">
                <div class="dataTables_info">Mostrando {{ listado.getItemNumberPerPage*(listado.getCurrentPageNumber-1)+1  }} a {{ listado.getItemNumberPerPage*listado.getCurrentPageNumber }} de {{ listado.getTotalItemCount }}   Proveedores
                </div>
                <div class="pagination pagination-centered">
                        {{ knp_pagination_render(listado) }}                    
                </div>
        </div>
    </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

  <script type="text/javascript"> 
  function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del proveedor")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>

{% endblock %}
