{% extends "::basePopLte.html.twig" %}

{% block title %}Producto - Agregar Imagen{% endblock %}

{% block content %}

     <div class="">
          <div class="modal-dialog box box-warning">
            <div class="modal-content">
              <div class="modal-header bg-black">
                <h4 class="modal-title">Cargar Imagen</h4>
              </div>
              <form action="{{ path('producto_agregarimagen') }}" method="POST"  enctype="multipart/form-data" class="form-horizontal">
              <div class="modal-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ form_label(form.path, label|default('Archivo'), { 'label_attr': { 'class': 'control-label' } }) }}</label>

                  <div class="col-sm-10">
                    {{ form_widget(form.path, { 'attr': {'class': ''} }) }}
                  </div>
                </div>
                <input type='hidden' name='id' value={{ id }}>
                {{ form_widget(form._token) }}
              </div>
              <div class="modal-footer bg-black">
                <button class="btn btn-warning bg-black" type="submit">Enviar</button>
              </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    </div>
{% endblock %}
