{% extends '::baseLte.html.twig' %}

{% block title %}{{ parent() }}::Producto Nuevo{% endblock %}
{% block sectiontitle %}<h1>Catálogo<small>Producto Nuevo</small></h1>{% endblock %}
{% block breadcum %} <li><a href="{{ path('producto') }}"><i class="fa fa-star"></i>Productos Catalogo</a>
    <br><a href="{{ path('producto_listadouniversal') }}"><i class="fa fa-star-o"></i>Productos General</a>
    </li>
    <li class="active">Producto Nuevo</li>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-warning">
            <div class="box-header bg-black">
              <h3 class="box-title"><i class="icon-edit"></i>Producto Nuevo</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="{{ path('producto_nuevo') }}" method="POST" class="form-horizontal">
                {{ form_errors(form) }}
              <div class="box-body">
                <div class="form-group">
                    *{{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.tipo, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.tipo, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.categoria, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.categoria, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.productoclasificacion, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.productoclasificacion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.referencia, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.referencia, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.marca, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.marca, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.codEAN, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.codEAN, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.alto, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.alto, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.largo, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.largo, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div> 
                <div class="form-group">
                    *{{ form_label(form.ancho, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.ancho, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.peso, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.peso, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.precio, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.precio, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.iva, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.iva, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="producto_alto">Aplica Iva *</label>
                    <div class="col-sm-8">
                        Si{{ form_widget(form.estadoIva[0], { 'attr': {'class': 'input-xlarge'} }) }}
                        No{{ form_widget(form.estadoIva[1], { 'attr': {'class': 'input-xlarge'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.incremento, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.incremento, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.logistica, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.logistica, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                
                <div class="box-footer">
                    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-info pull-right'} }) }}
                </div>
                {{ form_widget(form._token) }}
                <!-- /.box-footer -->
            </form>
          <!-- /.box -->
        </div>
    </div>
</div>
{% endblock %}


