{% extends "::base.html.twig" %}

{% block title %}Agregar precio{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Nuevo precio</h2>
            <div class="box-icon">
                <a href="{{ path('producto_datos', {'id': id}) }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form action="{{ path('producto_agregarprecio', {'id': id}) }}" method="POST"  class="form-horizontal">
                {{ form_errors(form) }}
                <fieldset>
                    <div class="control-group">
                        {{ form_label(form.proveedor, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.proveedor, { 'attr': {'class': 'input-xlarge focused'} }) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.precio, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.precio, { 'attr': {'class': 'input-xlarge focused'} }) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.precioDolares, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.precioDolares, { 'attr': {'class': 'input-xlarge focused'} }) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.principal, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                        <div class="controls">
                            {{ form_widget(form.principal, { 'attr': {'class': 'input-xlarge focused'} }) }}
                        </div>
                    </div>
                </fieldset>

                <div class="row-fluid sortable ui-sortable">

                </div>  
                <div class="form-actions">
                	<input type="submit" name="Enviar">
                	
                </div>
            {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
