{% extends "::base.html.twig" %}

{% block title %}Facturas Centro de Costos{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Facturas Centro de Costos</h2>
			<div class="box-icon">
              <a href="{{ path('factura_nueva') }}/{{ centrocostos.id }}" title="Nueva Factura" class="btn btn-primary btn-sm">
                  <i class="icon-plus icon-white"></i>
              </a> 
      </div>
		</div>
		
		<div class="box-content">
			<div id="dashboard">
			  <table class="table table-bordered table-striped">
					<tbody>
						<tr><td>Centro de Costos</td><td>{{ centrocostos.centrocostos }} - {{ centrocostos.nombre }}</td></tr>
						<tr><td>Cliente</td><td>{{ centrocostos.cliente.nombre }}</td></tr>
					</tbody>
				</table>
          <div id="tabla" class="" cellspacing="0" width="100%">
                      <table id="facturas" class="display">
                        <thead style="display:table-row-group;" >
                          <tr>
                            <th>Numero</th>
                            <th>Periodo</th>
                            <th>Pais</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for factura in listado %}
                            <tr>
                              <td><a href="{{ path("factura_datos", {"id": factura.id}) }}">{{ factura.numero }}</a></td>
                              <td>{{ factura.periodo.periodo }}</td>
                              <td>{{ factura.pais.nombre }}</td>
                              <td>{{ factura.fecha | date("Y-m-d") }}</td>
                              <td></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot style="display: table-header-group;">
                          <tr>
                            <th>Numero</th>
                            <th>Periodo</th>
                            <th>Pais</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
      </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

	<script type="text/javascript">
 $(document).ready(function() {
//    inifuntion
 var table = $('#facturas').dataTable({

            "sDom": 'T<"clear">lfrtip',
             "bPaginate": true,
             "bLengthChange": true,
             "bFilter": true,
             "bSort": true,
             "bInfo": false,
             "bAutoWidth": true,
             "bJQueryUI": false,
             "sPaginationType": "full_numbers",
             "iDisplayLength": 20,
             "aLengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todo"] ],
              initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select style="width: 100%"><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
         
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
         
                        column.data().unique().sort().each( function ( d, j ) {
                            //limpiar
                            //d
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
    });

})
  </script>

  <script type="text/javascript">
      function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>

{% endblock %}

