{% extends '::baseLte.html.twig' %}

{% block title %}{{ parent() }}::Datos Premio{% endblock %}
{% block sectiontitle %}<h1>Catálogo<small>Datos Premio</small></h1>{% endblock %}
{% block breadcum %} <li><a href="{{ path('producto') }}"><i class="fa fa-star"></i>Catalogo</a><a href="{{ path('producto_listadouniversal') }}"><li class="active">Datos Premio</li></a>{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-6">
	    <div class="box box-warning">
		    <div class="box-header bg-black">
				<h3 class="box-title">Datos Premio {{ premio.id }}</h3>
				<div class="box-tools pull-right">
					<a href="{{ path('premios_combo_editar',  {"premio": premio.id}) }}">
						<button class="btn btn-primary">
							<i class="fa fa-edit"></i>
						</button>
					</a>
				</div>
			</div>
			<div class="box-body">
				<table class="table table-bordered table-striped table-condensed dataTable">
					<tbody>
						<tr><td>SKU</td>
							<td>{{ premio.codigo }}</td>
						</tr>
						<tr><td>Nombre</td>
							<td>{{ premio.nombre }}</td>
						</tr>
						
						<tr><td>Referencia</td>
							<td>{{ premio.referencia }}</td>
						</tr>
						<tr><td>Marca</td>
							<td>{{ premio.marca }}</td>
						</tr>
						<tr><td>Descripcion</td>
							<td>{{ premio.descripcion }}</td>
						</tr>
						<tr><td>Categoria</td>
							<td>{{ premio.categoria.nombre}}</td>
						</tr>
						<tr><td>Puntos</td><td>{{ premio.puntos|number_format(2, '.', ',')  }}</td></tr>
						<tr><td>Precio</td><td>$ {{ premio.precio|number_format(2, '.', ',')  }}</td></tr>
						<tr><td>Incremento</td><td>{{ premio.incremento|number_format(2, '.', ',')  }} %</td></tr>
						<tr><td>Logistica</td><td>$ {{ premio.logistica|number_format(2, '.', ',')  }}</td></tr>
						<tr><td>Puntos Temporal</td><td>{{ premio.puntos|number_format(2, '.', ',')  }}</td></tr>
						<tr><td>Precio Temporal</td><td>$ {{ premio.precioTemporal|number_format(2, '.', ',')  }}</td></tr>
						<tr><td>Incremento Temporal</td><td>{{ premio.incrementoTemporal|number_format(2, '.', ',')  }} %</td></tr>
						<tr><td>Logistica Temporal</td><td>$ {{ premio.logisticaTemporal|number_format(2, '.', ',')  }} </td></tr>
						<tr><td>Aprobacion</td><td>{% if(premio.estadoAprobacion) %}{{ premio.estadoAprobacion.nombre }}{% else %}Por Aprobar{% endif %}</td></tr>
						<tr><td>Estado</td><td>{{ premio.estado.nombre }}</td></tr>
						<tr><td>Imagen</td>
							<td>
								{% if premio.nombre!="" %}
									<a href="../../../{{premio.imagen | slice (0)}}" target='_blank'><img src="../../../{{(premio.imagen | slice (0))[:-4]}}.jpg"><a>
								{% else %}

								{% endif %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-md-6">
	    <div class="box box-warning">
		    <div class="box-header bg-black">
				<h3 class="box-title">Datos Productos</h3>
			</div>
			<div class="box-body">
				{% set j=0 %}
				{% for producto in productos %}
					{% set j=j+1 %}
					<table class="table table-bordered table-striped table-condensed dataTable">
						<tbody>
							<tr><td colspan="2"><b>Producto {{ j }}</b></td>
							</tr>
							<tr><td>SKU</td>
								<td>{{ producto.producto.codInc }}</td>
							</tr>
							<tr><td>Nombre</td>
								<td>{{ producto.producto.nombre }}</td>
							</tr>
							<tr><td>Referencia</td>
								<td>{{ producto.producto.referencia }}</td>
							</tr>
							<tr><td>Marca</td>
								<td>{{ producto.producto.marca }}</td>
							</tr>
							<tr><td>Descripcion</td>
								<td>{{ producto.producto.descripcion }}</td>
							</tr>
							<tr><td>Categoria</td>
								<td>{{ producto.producto.categoria.nombre}}</td>
							</tr>
							<tr><td>Precio</td><td>$ {{ producto.producto.precio|number_format(2, '.', ',')  }}</td></tr>
							<tr><td>Incremento</td><td>{{ producto.producto.incremento|number_format(2, '.', ',')  }} %</td></tr>
							<tr><td>Logistica</td><td>$ {{ producto.producto.logistica|number_format(2, '.', ',')  }}</td></tr>
							<tr><td>Estado</td><td>{{ producto.producto.estado.nombre }}</td></tr>
							<tr><td>Imagen</td><td><a href="../../../{{premio.imagen | slice (7)}}" target='_blank'><img src="../../../{{(premio.imagen | slice (7))[:-4]}}.jpg"><a></td></tr>
						</tbody>
					</table>
					<br>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
	
	{{ parent() }}
	
	<script>

	function confirmar(ruta)
	{
	  if (confirm("Cambiar estado")==true){
	  	self.location=ruta;
	  }else{
	  	alert("OK");
	  }
	  
	}

	$("#agregar_imagen").colorbox({href:"{{ path('producto_agregarimagen',  {"id": premio.id}) }}"});

	</script>
{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <style>
    body {
        width: 110%;
    }
  </style>

{% endblock %}
