{% extends "::base.html.twig" %}

{% block title %}Catálogo Maestro{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable" style="width: 1500px">
	<div class="box span12">
		<div class="box-header well">
			<h2><i class="icon-th-list"></i>Catálogo Maestro</h2>
		</div>
		<div class="box-content">
			<div id="dashboard">
                   
                    <div id="tabla" class="table table-bordered table-striped" cellspacing="0" width="100%">
                      <table id="productos" class="display">
                        {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
                          <form action="{{ path('producto') }}" method="POST"  class="form-horizontal">
                        <thead style="display:table-row-group;">
                          <tr>
			                      <th>{{ knp_pagination_sortable(productos, 'Id', 'p.id') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'Nombre', 'p.nombre') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'Categoria', 'c.nombre') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'Referencia', 'p.referencia') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'Marca', 'p.marca') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'EAN', 'p.codEAN') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'SKU', 'p.codInc') }}</th>
                            <th>{{ knp_pagination_sortable(productos, 'Estado', 'e.nombre') }}</th>
                            <th>Catalogo</th>
                            <th>Puntos Min</th>
                            <th>Puntos Max</th>
                            <th>{{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}</th>
                          </tr>
                          <tr>
                            <th><input type="text" id="producto_id" name="producto[id]" style="width: 40px"></th>
			                      <th>{{ form_widget(form.nombre, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                            <th>{{ form_widget(form.categoria, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                            <th>{{ form_widget(form.referencia, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                            <th>{{ form_widget(form.marca, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                            <th>{{ form_widget(form.codEAN, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                            <th>{{ form_widget(form.codInc, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                            <th>{{ form_widget(form.estado, { 'attr': { 'style' : 'width:80px' }} ) }}</th>
                            <th>
                              <select style="width:140px" name="producto[catalogo][]" id="producto_catalogo" multiple>
                                <option selected="selected" value="">Seleccionar</option>
                                {% for catalogo in catalogos %}
                                    <option value="{{ catalogo.id }}">{{ catalogo.nombre }}</option>
                                {% endfor %}
                              </select>
                            </th>
                            <th><input type="text" id="producto_puntos_min" name="producto[puntos_min]" style="width: 40px"></th>
                            <th><input type="text" id="producto_puntos_max" name="producto[puntos_max]" style="width: 40px"></th>
                            <th></th>
                          </tr>
                        </thead>
                        </table>
                        </form>
                        <div id="scrollable">
                        <table id="productos" >
                        <tbody>
                          {% for producto in productos %}
                          <tr>
                            {% set i=0 %}
                            <td class="headcol" style="background-color: #ffffff">
                              <div class="box span" style="height: 300px; width:250px">
                                <div class="box-header well" data-original-title="">
                                  <h2>{{ producto.producto.codInc }}</h2>

                                </div>
                                <div class="box-content" >
                                      <ul class="thumbnails gallery">
                                        {% set i=0 %}
                                       {% for imagen in producto.producto.imagenproducto %}
                                        {% if i<1 %}                  
                                          <li id="imagen-{{imagen.id}}" class="thumbnail" style="widht: 100px">
                                              <a class="cboxElement" href="../../../{{ imagen.path | slice (7)}}" title="{{ producto.producto.codInc }}" style="background:url(../../../{{(imagen.path| slice (7))[:-4]}}_min.jpg)">
                                                <img class="grayscale" src="../../../{{ imagen.path | slice(7)[:-4]}}_min.jpg" style="display: block;">
                                              </a>
                                            </li>
                                          {% set i=i+1 %}
                                        {% endif %}
                                      {% endfor %} 
                                      </ul>
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>{{ producto.producto.nombre }}</td>
                                      </tr>
                                      <tr>
                                        <td>{{ producto.producto.referencia }}</td>
                                      </tr>
                                      <tr>
                                        <td>{{ producto.producto.marca }}</td>
                                      </tr>            
                                    </tbody>
                                  </table>     
                                  
                                </div>
                              </div>
                              </td>
                              {% for catalogo in catalogos %}
                                 <td style="background-color: #ffffff">
                                  <div class="box span" style="height: 300px; width:250px">
                                    <div class="box-content">
                                      <table class="table">
                                        <tr><th colspan="3" style="text-align: center;">{{ catalogo.nombre }}</th></tr>
                                        <tr><th></th><th>Actual</th><th>Nuevo</th></tr>
                                        {% set pe=0 %}    
                                          {% if producto.producto.premiosproductos|length > 0 %}
                                            {% for premio in producto.producto.premiosproductos %}
                                              {% set pc=0 %}

                                              {% if (premio.premio.catalogos.id == catalogo.id) %}
                                                  {% set pc=1 %}{% endif %}

                                                  {% if pc == 1 %}
                                                    <tr>
                                                        <td>Valor</td>
                                                        <td>{{ premio.premio.precio }}</td>
                                                        <td>{{ premio.premio.precioTemporal }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Incremento</td>
                                                        <td>{{ premio.premio.incremento }}</td>
                                                        <td>{{ premio.premio.incrementoTemporal }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Logistica</td>
                                                        <td>{{ premio.premio.logistica }}</td>
                                                        <td>{{ premio.premio.logisticaTemporal }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Puntos</td>
                                                        <td>{{ premio.premio.puntos }}</td>
                                                        <td>{{ premio.premio.puntosTemporal }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Categoria</td>
                                                        <td colspan="2">{% if premio.premio.categoria %}{{ premio.premio.categoria.nombre }}{% endif %}</td>
                                                    </tr>
                                                    <tr>
                                                      <td>
                                                          {% if(premio.premio.estado.id == 1) %}
                                                            <a class="btn btn-success 1" href="#" {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') %}
    																								onclick="confirmar('{{ url("premios_estado", {"premio": premio.premio.id}) }}')"{% endif %}>
    																								Activo</a>
                                                          {% else %}
                                                            <a class="btn btn-danger 1" href="#" onclick="confirmar('{{ url("premios_estado", {"premio": premio.premio.id}) }}')">Inactivo</a>
                                                          {% endif %}
                                                      </td>
                                                      <td colspan="2">
                                                          <div class="editar" href="{{ path('premios_editar') }}/{{ premio.premio.id }}"><a class="btn btn-primary">Editar</a></div>
                                                      </td> 
                                                    </tr>
                                                  </tr>
                                                    {% set pe = 1 %}
                                                {% endif %}
                                            {% endfor %}
                                          {% endif %}
                                          {% if pe==0 %}
                                               <tr>
                                                <td colspan="3"  style="text-align: center;">
                                                    <div class="agregar"  href="{{ path('premios_nuevo') }}/{{ producto.producto.id }}/{{ catalogo.id }}"><a class="btn btn-info">Agregar</a></div>
                                                </td> 
                                              </tr>
                                          {% endif %}
                                      </table>
                                    </div>
                                  </div>
                                </td>
                              {% endfor %}
                              </tr>
                            {% endfor %}  
                        </tbody>
                      </table>
                    </div>
                </div>   
            </div>
		</div>
		
		<div class="box span11">
        <div class="box-content">
                <div class="dataTables_info">Mostrando {{ productos.getItemNumberPerPage*(productos.getCurrentPageNumber-1)+1  }} a {{ productos.getItemNumberPerPage*productos.getCurrentPageNumber }} de {{ productos.getTotalItemCount }}   Productos
                </div>
                <div class="pagination pagination-centered">
                        {{ knp_pagination_render(productos) }}                    
                </div>
        </div>
    </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

<style type = "text/css" >
        #scrollable{ 
            width: 1100px; 
            overflow-x:scroll;  
            margin-left:22em; 
            overflow-y:visible;
            padding-bottom:1px;
        }
        .headcol {
            position:absolute; 
            width:5em; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:-3px; /*compensate for top border*/
            margin-left:18em; 
        }
</style>

{{ parent() }}

  <script type="text/javascript">
  
    function confirmar(ruta)
    {
      if (confirm("Desea cambiar el estado del producto")==true){
        self.location=ruta;
      }else{
        alert("OK");
      }
    }

    $(".agregar").colorbox({href: this.href});
    $(".editar").colorbox({href: this.href});
</script>

{% endblock %}

