{% extends "::base.html.twig" %}

{% block title %}IncentivesCatalogoBundle:Catalogo:nuevo{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Nuevo Catalogo</h2>
                        <div class="box-icon">
                            <a href="{{ path('catalogo') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('productocatalogo_listado') }}" method="POST"  class="form-horizontal" novalidate>
    {{ form_errors(form) }}
    <fieldset>
        <table>
            <tr>
                <th>Productos</th>
                {% for catalogos in catalogo %}
                    <th>{{ catalogos.nombre }}</th>
                {% endfor %}
            </tr>
            {% for productos in producto %}
                <tr>
                    <th>
                        {{ productos.nombre }}<br>
                        {{ productos.referencia }}<br>
                        {{ productos.marca }}<br>
                        {% set i=0 %}
                        {% for imagenes in imagen%}
                            {% if imagenes.producto.id == productos.id and i<1 %}
                                <img src="{{(imagenes.path| slice (8))[:-4]}}_min.jpg">
                                {% set i=i+1 %}
                            {% endif %}
                        {% endfor %}
                    </th>
                    {% for catalogos in catalogo %}
                        <td>
                            <div class={{productos.id}} {{catalogos.id}}>
                                {% for elementos in matrizv[productos.id][catalogos.id] %}
                                    {{ form_row(elementos) }}
                                {% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </fieldset>        
<div class="form-actions">
</div>
{{ form_widget(form._token) }}
<input type="submit">
</form>
</div>
</div>
 </div>
{% endblock %}
