{% extends "::base.html.twig" %}

{% block title %}Cotización Nueva{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Cotización Nueva</h2>
                        <div class="box-icon">
                            <a href="{{ path('cotizaciones') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('cotizaciones_nueva') }}/{{ solicitud }}" method="POST" {{ form_enctype(form) }} class="form-horizontal" novalidate>
    {{ form_errors(form) }}
    <fieldset>
        <div class="control-group">
            {{ form_label(form.fechaCreacion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.fechaCreacion, { 'id': 'fechaCreacion' }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.fechaVencimiento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.fechaVencimiento, { 'id': 'fechaVencimiento' }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.logistica, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.logistica, { 'id': 'fechaCreacion' }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.condiciones, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.condiciones, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.observaciones, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.observaciones, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>

    </fieldset>
<div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $( "#fechaCreacion" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#fechaVencimiento" ).datepicker({ dateFormat: 'yy-mm-dd' });
    </script>

{% endblock %}
