{% extends '::basePop.html.twig' %}
{% block title %}Actualizacion de contraseña{% endblock %}
{% block body %}
{% block cuerpo %}
<div class="box span12">
    <div class="box-header well" data-original-title="">
        Actualizacion de contraseña<div class="box-icon"><a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a><a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a></div>
    </div>
    <div class="box-content">
		<form class="form-horizontal" action="{{ path('proveedores_actualizarpassword') }}" method="POST" {{ form_enctype(form) }}>
			
			<fieldset>
				Actualizacion de contraseña
				<input type='hidden' name='id' value={{ id }}>
				<input type='hidden' name='pass' value={{ pass }}>
				{{ form_errors(form) }}
			    {{ form_row(form.password) }}
			    {{ form_rest(form) }}
			    <input type="submit">
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}
{% endblock %}
