{% extends app.request.isXmlHttpRequest ? "MDWDemoBundle::layout_ajax.html.twig" : "::base.html.twig" %}
{% block title %}Datos Catalogo{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box">
    <div class="box-header well" data-original-title="">
        Catalogo
        <div class="box-icon">
				<div class="box-icon">
                    <a href="{{ path('catalogo') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                </div>
    	</div>
    </div>
</div>
    <div class="box span6">
	    <div class="box-content">
	    	<div class="box-header well">
				<h2>
				{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') %}
				<a href="{{ path('catalogo_editar',  {"id": catalogo.id}) }}">
					<button class="btn btn-primary">
						<i class="icon-edit icon-white"></i>
					</button>
				</a>
				{% endif %}
				</i>Datos Catalogo</h2>
			</div>

				<table class="table table-bordered table-striped">
					<tbody>
						<tr><td>Nombre</td><td>{{ catalogo.nombre }}</td></tr>
						<tr><td>Programa</td><td>{{ catalogo.programa.nombre}}</td></tr>
						<tr><td>Cliente</td><td>{{ catalogo.programa.cliente.nombre }}</td></tr>
						{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') %}
						<tr><td>Descripcion</td><td>{{ catalogo.descripcion }}</td></tr>
						{% endif %}
						<tr><td>Valor punto</td><td>{{ catalogo.valorpunto|number_format(6, ',', '.') }}</td></tr>
						<tr><td>Fecha inicio</td><td>{{ catalogo.programa.fechainicio | date("Y-m-d") }}</td></tr>
						<tr><td>Fecha fin</td><td>{{ catalogo.programa.fechafin | date("Y-m-d") }}</td></tr>
					</tbody>
				</table>
		</div>
		<div class="box span10">
	    	<div class="box-content">
	    	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DIR') or is_granted('ROLE_EJEC') or is_granted('ROLE_COM') or is_granted('ROLE_CLI') %}
				<a class="btn btn-small btn-primary" href="{{ path('catalogo_aprobar',  {"id": catalogo.id}) }}">Aprobar</a>	    	
	    	{% endif %}
			{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') or  is_granted('ROLE_EJEC') or  is_granted('ROLE_COM') or is_granted('ROLE_CLIDEMO') %}	
				<a class="btn btn-small btn-primary" href="{{ path('catalogo_indicadores',  {"id": catalogo.id}) }}">Indicadores</a>
		    		<a class="btn btn-small btn-primary" href="{{ path('catalogo_galeria',  {"id": catalogo.id}) }}">Galeria</a>
			{% endif %}
			{% if is_granted('ROLE_CLI') and galeria==1 %}
		    		<a class="btn btn-small btn-primary" href="{{ path('catalogo_galeria',  {"id": catalogo.id}) }}">Galeria</a>
			{% endif %}

	    		{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') or is_granted('ROLE_DIS') %}
		    		<a class="btn btn-small btn-info" href="{{ path('productocatalogo_importar',  {"id": catalogo.id}) }}">Carga Masiva</a>
		    		<a class="btn btn-small btn-info" href="{{ path('productocatalogo_catalogoim',  {"id": catalogo.id}) }}">Exportar</a>
		    		<a class="btn btn-small btn-info" href="{{ path('productocatalogo_imagenes',  {"catalogo": catalogo.id}) }}">Imagenes</a>
		    	{% endif %}
		    		<a class="btn btn-small btn-info" href="{{ path('productocatalogo_formatocambios',  {"id": catalogo.id}) }}">Cambios</a>
			
			{% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') %}
                        <a class="btn btn-small btn-danger" onClick="confirmar('{{ url("catalogo_realcular", {"id": catalogo.id}) }}')" href="" }}">Actualizar Puntos</a>
                    {% endif %}

	    	</div>
	    </div>

	    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') or is_granted('ROLE_EJEC') or is_granted('ROLE_COM') %}
		    {% if intervalos is defined %}
			    <div class="box span10">
			    	<div class="box-content">
				    	<div class="box-header well">
							<h2>
							<a href="{{ path('catalogo_intervalos',  {"id": catalogo.id}) }}">
								<button class="btn btn-primary">
									<i class="icon-edit icon-white"></i>
								</button>
							</a>
							</i>Intervalos</h2>
						</div>
				    	<table class="table table-bordered table-striped">
				    		<tr><th>Minimo</th><th>Maximo</th><th>Valor Punto</th></tr>
				    	{% for intervalo in intervalos %}
				    		<tr><td >{{ intervalo.minimo|number_format(2, ',', '.') }}</td>
				    			<td align="right">{{ intervalo.maximo|number_format(2, ',', '.') }}</td>
				    			<td align="right">{{ intervalo.puntos|number_format(6, ',', '.') }}</td>
					    		<td>
					    			<a class="editar_intervalo" href="{{ path('catalogo_intervaloseditar',  {"id": intervalo.id}) }}">
										<button class="btn btn-primary">
											<i class="icon-edit icon-white"></i>
										</button>
									</a>
								</td>
				    		</tr>
				    	{% endfor %}
				    	</table>
			    	</div>
			    </div>
	    	{% endif %}
	    {% endif %}
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

	function confirmar(ruta)
	{
	  if (confirm("Cambiar estado")==true){
	  	self.location=ruta;
	  }else{
	  	alert("OK");
	  }
	  
	}

        var x;
		x=$(document);
		x.ready(inicializarEventos);

		function inicializarEventos()
		{
		 var x;
		 x=$("div.estado a");
		 x.each(resaltarParrafos);
		}
		
		$(".editar_intervalo").colorbox({rel: 'gal', title: function(){
		  var url = $(this).attr('href');
		}});

		

	</script>

  <script type="text/javascript">
      function confirmar(ruta)
      {
        if (confirm("Se realizara el recálculo de puntajes del catálogo seleccionado.")==true){
            self.location=ruta;
        }
        
      }
  </script>
{% endblock %}
