{#% extends '::basep.html.twig' %#}
{% extends app.request.isXmlHttpRequest ? "MDWDemoBundle::layout_ajax.html.twig" : "::base.html.twig" %}
{% block title %}Datos Solicitud{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box">
    <div class="box-header well" data-original-title="">
        Solicitudes
        <div class="box-icon">
				<div class="box-icon">
                    <a href="{{ path('solicitudes') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                </div>
    	</div>
    </div>
</div>
    <div class="box span4">
	    <div class="box-content">
	    	<div class="box-header well">
				<h2>
					{% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT')) %}
					<a href="{{ path('solicitudes_editar',  {"id": solicitud.id}) }}">
						<button class="btn btn-primary">
							<i class="icon-edit icon-white"></i>
						</button>
					</a>
					{% endif %}
					
					{% if (solicitud.estado.id==1 and (is_granted('ROLE_COM') or is_granted('ROLE_EJEC')) ) %}
					<a href="{{ path('solicitudes_editar',  {"id": solicitud.id}) }}">
						<button class="btn btn-primary">
							<i class="icon-edit icon-white"></i>
						</button>
					</a>
					{% endif %}
					
					Datos Solicitud</h2>
			</div>
				<table class="table table-bordered table-striped">
					<tbody>
						<tr><td>Id</td><td>{{ solicitud.id }}</td></tr>
						<tr><td>Titulo</td><td>{{ solicitud.titulo }}</td></tr>
						<tr><td>Tipo</td><td>{{ solicitud.tipo.nombre }}</td></tr>
						<tr><td>Programa</td><td>{{ solicitud.programa.nombre }}</td></tr>
						<tr><td>Prioridad</td><td>{{ solicitud.prioridad.nombre }}</td></tr>
						<tr><td>Descripción</td><td>{{ solicitud.descripcion }}</td></tr>
						<tr><td>Fecha Solicitud</td><td>{{ solicitud.fechaSolicitud | date}}</td></tr>
						<tr><td>Solicitante</td><td>{{ solicitud.solicitante.nombre }}</td></tr>
						<tr><td>Estado</td><td>{{ solicitud.estado.nombre }}</td></tr>
						<tr><td>Accion</td>
							<td>
								<div class="estado" >
										{% if (is_granted('ROLE_DIR') and solicitud.estado.id == 1) %}
										
											<a class="btn btn-success" onClick='confirmar("{{ url('solicitud_aceptar', {'id': solicitud.id}) }}")'>
												<i class="icon-ok icon-white" align='rigth'></i>	
												Aceptar										
											</a>
											
										{% endif %}
										
										{% if (is_granted('ROLE_DIR') or is_granted('ROLE_EJEC') or is_granted('ROLE_COM')) %}
											{% if (solicitud.estado.id == 1 or solicitud.estado.id == 2) %}	
												<a class="btn btn-danger" onClick='confirmar("{{ url('solicitud_cancelar', {'id': solicitud.id}) }}")'>
													<i class="icon-trash icon-white" align='rigth'></i>	
													Cancelar										
												</a>
											{% endif %}
										{% endif %}
										
										{% if ((is_granted('ROLE_DIR')  or is_granted('ROLE_EJEC'))  and solicitud.estado.id == 2) %}	
											<a class="btn btn-info" onClick='confirmar("{{ url('solicitud_cerrar', {'id': solicitud.id}) }}")'>
												<i class="icon-ok icon-white" align='rigth'></i>	
												Cerrar										
											</a>
											
										{% endif %}

								</div>
						</td></tr>
					</tbody>
				</table>
		</div>
	</div>
	
	<div class="box span6">
	   	<div class="box-content">
	    	<div class="box-header well">
				<h2>
				{% if (solicitud.estado.id != 3) %}
				<a id="agregar_archivos" href="{{ path('solicitudes_archivos') }}/{{ solicitud.id }}">
					<button class="btn btn-primary">
						<i class="icon-plus icon-white"></i>
					</button>
				</a>
				{% endif %}
				</i>Archivos</h2>
			</div>
			{% if archivos is defined %}
		    	<table class="table table-bordered table-striped">
		    		<tr>
		    			<th>Archivo</th>
		    			<th>Fecha</th>
		    			<th>Estado</th>
		    		</tr>
		    	{% for archivo in archivos %}
		    		<tr>
		    			<td width="300px"><a href="{{asset(archivo.archivo | slice (5))}}" target="_blank">{{ archivo.archivo  }}</a></td>
		    			<td width="150px">{% if (archivo.fechaModificacion != null) %} {{archivo.fechaModificacion | date("Y-m-d h:i:s") }} {% endif %}</td>
		    			<td>{% if (archivo.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("solicitud_archivo_estado", {"id": archivo.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("solicitud_archivo_estado", {"id": archivo.id}) }}')" href="#">Activo</a>{% endif %}</td>
		    		</tr>
		    	{% endfor %}
		    	</table>
		    {% endif %}
	  	</div>
	</div>
	
	<div class="box span6">
	   	<div class="box-content">
	    	<div class="box-header well">
				<h2>
				{% if (solicitud.estado.id != 3) %}
				<a id="agregar_ordenesDespacho" href="{{ path('solicitudes_cargardespachos') }}/{{ solicitud.id }}">
					<button class="btn btn-primary">
						<i class="icon-plus icon-white"></i>
					</button>
				</a>
				{% endif %}
				</i>Ordenes de Despacho</h2>
			</div>
			{% if ordenesDespacho is defined %}
		    	<table class="table table-bordered table-striped">
		    		<tr>
		    			<th>Ordenes de Despacho</th>
		    			<th>Fecha</th>
		    			<th>Estado</th>
		    		</tr>
		    	{% for ordenDespacho in ordenesDespacho %}
		    		<tr>
		    			<td><a href="{{asset(ordenDespacho.archivo | slice (5))}}" target="_blank">{{ ordenDespacho.archivo  }}</a></td>
		    			<td width="150px">{% if (ordenDespacho.fechaModificacion != null) %} {{ordenDespacho.fechaModificacion | date("Y-m-d") }} {% endif %}</td>
		    			<td>{% if (ordenDespacho.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("solicitud_archivo_estado", {"id": ordenDespacho.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("solicitud_archivo_estado", {"id": ordenDespacho.id}) }}')" href="#">Activo</a>{% endif %}</td>
		    		</tr>
		    	{% endfor %}
		    	</table>
		    {% endif %}
	  	</div>
	</div>
	
	 <div class="box span6">
	    	<div class="box-content">
		    	<div class="box-header well">
					<h2>
					{% if is_granted('ROLE_DIR') %}
						{% if (solicitud.estado.id == 2) %}
						<a id="asignar_responsable" href="{{ path('solicitudes_asignar') }}/{{ solicitud.id }}">
							<button class="btn btn-primary">
								<i class="icon-plus icon-white"></i>
							</button>
						</a>
						{% endif %}
					{% endif %}
					</i>Responsables</h2>
				</div>
				{% if responsables is defined %}
			    	<table class="table table-bordered table-striped">
			    		<tr>
			    			<th>Responsable</th>
			    			<th>Rol</th>
			    			<th>Estado</th>
			    		</tr>
			    	{% for responsable in responsables %}
			    		<tr>
			    			<td>{{ responsable.responsable.nombre }}</td>
			    			<td>{{ responsable.responsable.grupos[0].nombre }}</td>
			    			<td>{{ responsable.estado.nombre }}</td>
			    		</tr>
			    	{% endfor %}
			    	</table>
			    {% endif %}
	    	</div>
	    </div>


		<div class="box span6">
	    	<div class="box-content">
		    	<div class="box-header well">
					<h2>
						<a id="agregar_observacion" href="{{ path('solicitud_observaciones') }}/{{ solicitud.id }}">
							<button class="btn btn-primary">
								<i class="icon-plus icon-white"></i>
							</button>
						</a>
					</i>Observaciones</h2>
				</div>
				{% if responsables is defined %}
			    	<table class="table table-bordered table-striped">
			    		<tr>
			    			<th width="600">Observacion</th>
			    			<th>Usuario</th>
			    			<th>Fecha</th>
			    		</tr>
			    	{% for observacion in observaciones %}
			    		<tr>
			    			<td>{{ observacion.observacion }}</td>
			    			<td>{{ observacion.usuario.nombre }}</td>
			    			<td>{{ observacion.fechaModificacion | date("Y-m-d h:i:s")  }}</td>
			    		</tr>
			    	{% endfor %}
			    	</table>
			    {% endif %}
	    	</div>
	    </div>	
	
	
	{% if solicitud.tipo.id ==2 %}
		{% if (is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP')) %}
			{% if convocatorias is defined %}
			    <div class="box span8">
			    	<div class="box-content">
				    	<div class="box-header well">
							<h2>
							{% if (solicitud.estado.id == 2) %}
							<a href="{{ path('convocatorias_nueva') }}/{{ solicitud.id }}">
								<button class="btn btn-primary">
									<i class="icon-plus icon-white"></i>
								</button>
							</a>
							{% endif %}
							</i>Convocatorias</h2>
						</div>
				    	<table class="table table-bordered table-striped">
				    		<tr>
				    			<th>Id</th>
				    			<th>Titulo</th>
				    			<th>Archivo</th>
				    			<th>Fecha Inicio</th>
				    			<th>Fecha Fin</th>
				    		</tr>
				    	{% for convocatoria in convocatorias %}
				    		<tr>
				    			<td>{{ convocatoria.id }}</td>
				    			<td><a href="{{ path("convocatorias_datos") }}/{{ convocatoria.id }}">{{ convocatoria.titulo }}</a></td>
				    			<td><a href="{{asset(convocatoria.ruta | slice (5))}}{{convocatoria.archivo}}" target="_blank">{{ convocatoria.archivo  }}</a></td>
				    			<td>{{ convocatoria.fechaInicio | date("Y-m-d") }}</td>
				    			<td>{{ convocatoria.fechaFin | date("Y-m-d")  }}</td>
				    		</tr>
				    	{% endfor %}
				    	</table>
			    	</div>
			    </div>
		    {% endif %}
		{% endif %}		    
	    
	    <div class="box span8">
	   	<div class="box-content">
	    	<div class="box-header well">
				<h2>
				{% if (solicitud.estado.id != 3) %}
				<a id="agregar_precotizacion" href="{{ path('solicitudes_precotizacion') }}/{{ solicitud.id }}">
					<button class="btn btn-primary">
						<i class="icon-plus icon-white"></i>
					</button>
				</a>
				{% endif %}
				</i>Precotizaciones
				</h2>
			</div>
			{% if precotizaciones is defined %}
		    	<table class="table table-bordered table-striped">
		    		<tr>
		    			<th>Precotización</th>
		    			<th>Fecha</th>
		    			<th>Estado</th>
		    		</tr>
		    	{% for precotizacion in precotizaciones %}
		    		<tr>
		    			<td><a href="{{asset(precotizacion.archivo | slice (5))}}" target="_blank">{{ precotizacion.archivo  }}</a></td>
		    			<td width="150px">{% if (precotizacion.fechaModificacion != null) %} {{precotizacion.fechaModificacion | date("Y-m-d") }} {% endif %}</td>
		    			<td>{% if (precotizacion.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("solicitud_archivo_estado", {"id": precotizacion.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("solicitud_archivo_estado", {"id": precotizacion.id}) }}')" href="#">Activo</a>{% endif %}</td>
		    		</tr>
		    	{% endfor %}
		    	</table>
		    {% endif %}
	  	</div>
	</div>
	
		{% if cotizaciones is defined %}
			    <div class="box span8">
			    	<div class="box-content">
				    	<div class="box-header well">
							<h2>
							{% if (is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP')) %}
								{% if (solicitud.estado.id == 2) %}
								<a href="{{ path('cotizaciones_nueva') }}/{{ solicitud.id }}">
									<button class="btn btn-primary">
										<i class="icon-plus icon-white"></i>
									</button>
								</a>
								{% endif %}
							{% endif %}
							</i>Cotizaciones</h2>
						</div>
				    	<table class="table table-bordered table-striped">
				    		<tr>
				    			<th>Id</th>
				    			<th>Consecutivo</th>
				    			<th>Archivo</th>
				    			<th>Fecha Creación</th>
				    			<th>Estado</th>
				    		</tr>
				    	{% for cotizacion in cotizaciones %}
				    		<tr>
				    			<td>{{ cotizacion.id }}</td>
				    			<td><a href="{{ path("cotizaciones_datos") }}/{{ cotizacion.id }}">{{ cotizacion.consecutivo}}</a></td>
				    			<td>{{ cotizacion.id }}</td>
				    			<td>{{ cotizacion.fechaCreacion | date("Y-m-d") }}</td>
				    			<td>{{ cotizacion.estado.nombre }}</td>
				    		</tr>
				    	{% endfor %}
				    	</table>
			    	</div>
			    </div>
	   	{% endif %}
	{% endif %}
	    
	    <div class="box span8">
	    	<div class="box-content">
		    	<div class="box-header well">
					<h2>
					{% if is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP') %}
						{% if (solicitud.estado.id == 2) %}
						<a href="{{ path('ordenes_nueva_solicitud') }}/{{ solicitud.id }}">
							<button class="btn btn-primary">
								<i class="icon-plus icon-white"></i>
							</button>
						</a>
						{% endif %}
					{% endif %}
					</i>Ordenes de Compra</h2>
				</div>
				{% if ordenes is defined %}
			    	<table class="table table-bordered table-striped">
			    		<tr>
			    			<th>Id</th>
			    			<th>Consecutivo</th>
			    			<th>Archivo</th>
			    			<th>Proveedor</th>
			    			<th>Fecha Creación</th>
			    			<th>Estado</th>
			    		</tr>
			    	{% for orden in ordenes %}
			    		<tr>
			    			<td>{{ orden.id }}</td>
			    			<td><a href="{{ path("ordenes_datos") }}/{{ orden.id }}">{{ orden.consecutivo}}</a></td>
			    			<td>{{ orden.id }}</td>
			    			<td>{{ orden.proveedor.nombre }}</td>
			    			<td>{{ orden.fechaCreacion | date("Y-m-d") }}</td>
			    			<td>{{ orden.ordenesestado.nombre }}</td>
			    		</tr>
			    	{% endfor %}
			    	</table>
			    {% endif %}
	    	</div>
	    </div>

	    <div class="box span8">
		    	<div class="box-content">
			    	<div class="box-header well">
					<h2>
						{% if (is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP')) %}
							{% if (solicitud.estado.id == 2) %}
							<a href="{{ path('requisiciones_nueva') }}/{{ solicitud.id }}">
								<button class="btn btn-primary">
									<i class="icon-plus icon-white"></i>
								</button>
							</a>
							{% endif %}
						{% endif %}
						</i>Requisiciones</h2>
					</div>
			    	<table class="table table-bordered table-striped">
			    		<tr>
			    			<th>Id</th>
			    			<th>Consecutivo</th>
			    			<th>Archivo</th>
			    			<th>Fecha Creación</th>
			    		</tr>
			    	{% for requisicion in requisiciones %}
			    		<tr>
			    			<td>{{ requisicion.id }}</td>
			    			<td><a href="{{ path("requisiciones_datos") }}/{{ requisicion.id }}">{{ requisicion.consecutivo}}</a></td>
			    			<td>{{ requisicion.id }}</td>
			    			<td>{{ requisicion.fechaCreacion | date("Y-m-d") }}</td>
			    		</tr>
			    	{% endfor %}
			    	</table>
		    	</div>
		    </div>


	    <div class="box span8">
	    	<div class="box-content">
		    	<div class="box-header well">
					<h2>
					{% if is_granted('ROLE_DIR') or is_granted('ROLE_ASIS') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') %}
						{% if (solicitud.estado.id == 2) %}
						<a href="{{ path('planillas_nueva_solicitud') }}/{{ solicitud.id }}">
							<button class="btn btn-primary">
								<i class="icon-plus icon-white"></i>
							</button>
						</a>
						
						 <a href="{{ path('logistica_despacho_solicitudes') }}/{{ solicitud.id }}" title="Generar" class="btn btn-primary btn-info">
				              <i class="icon-cog icon-white"></i>
				          </a>
						{% endif %}
					{% endif %}
					</i>Planillas</h2>
				</div>
				{% if planillas is defined %}
			    	<table class="table table-bordered table-striped">
			    		<tr>
			    			<th>Planilla</th>
			    			<th>Fecha Creación</th>
			    			<th>Descargar</th>
			    			<th>Estado</th>
			    		</tr>
			    	{% for planilla in planillas %}
			    		<tr>
			    			<td><a href="{{ path("planillas_datos") }}/{{ planilla.id }}">{{ planilla.id}}</a></td>
			    			<td>{{ planilla.fecha | date("Y-m-d") }}</td>
			    			<td><a href="{{ path('inventario_planilla_actualizar') }}/{{ planilla.id }}/1" target="_blank" onClick=confirmar("{{ url("inventario_listado_planilla_estado", {"id": planilla.id}) }}")>Descargar</a></td>
			    			<td>{{ planilla.planillaestado.nombre }}</td>
			    		</tr>
			    	{% endfor %}
			    	</table>
			    {% endif %}
	    	</div>
	    </div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>

	function confirmar(ruta)
	{
	  if (confirm("Deseo eliminar el documento")==true){
	  	self.location=ruta;
	  }else{
	  	alert("OK");
	  }
	  
	}

        var x;
		x=$(document);
		x.ready(inicializarEventos);

		function inicializarEventos()
		{
		 var x;
		 x=$("div.estado a");
		 x.each(resaltarParrafos);
		}
		
		$("#asignar_responsable").colorbox({href:"{{ path('solicitudes_asignar',  {"solicitud": solicitud.id}) }}"});
		$("#agregar_observacion").colorbox({href:"{{ path('solicitud_observaciones',  {"id": solicitud.id}) }}"});
		$("#agregar_archivos").colorbox({href:"{{ path('solicitudes_archivos',  {"solicitud": solicitud.id}) }}"});
		$("#agregar_ordenesDespacho").colorbox({href:"{{ path('solicitudes_cargardespachos',  {"solicitud": solicitud.id}) }}"});
		$("#agregar_precotizacion").colorbox({href:"{{ path('solicitudes_precotizacion',  {"solicitud": solicitud.id}) }}"});

	</script>
	
	<script>
		function confirmar(ruta)
      	{
	        if (confirm("Desea cambiar el estado del archivo")==true){
	            self.location=ruta;
	        }else{
	            alert("OK");
	        }
		}
  </script>
{% endblock %}

