{% extends '::basePop.html.twig' %}
{% block title %}Orden Despacho{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
    <h2><i class="icon-edit"></i>Agregar Orden Despacho</h2>
     <div class="box-icon">
        <a href="{{ path('solicitudes_datos') }}/{{ solicitud }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
    </div>
</div>
<div class="box-content">
    <form action="{{ path('solicitudes_ordenesDespacho') }}/{{ solicitud }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_errors(form) }}
        <fieldset>
            <div class="control-group">
                {{ form_label(form.archivo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
                <div class="controls">
                    {{ form_widget(form.archivo, { 'attr': {'class': 'input-xlarge focused'} }) }}
                </div>
            </div>
            <div class="control-group">
        </fieldset>
    <div class="form-actions">
        {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>
    {{ form_widget(form._token) }}
    </form>
</div>
</div>
 </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

   
{% endblock %}
