{% extends "::base.html.twig" %}

{% block title %}Agregar Intervalo{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Agregar Intervalo</h2>
                        <div class="box-icon">
                            <a href="{{ path('catalogo_datos') }}/{{ id }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('catalogo_intervalos') }}" method="POST"  class="form-horizontal">
    {{ form_errors(form) }}
    <input type='hidden' name='id' value={{ id }}>
    <fieldset>
        <div class="control-group">
            {{ form_label(form.minimo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.minimo, {'value' :  minimo }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.maximo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.maximo, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.puntos, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.puntos, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
<div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}
