{% extends "::base.html.twig" %}

{% block title %}IncentivesCatalogoBundle:Producto:nuevo{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Editar Cliente</h2>
                        <div class="box-icon">
                            <a href="{{ path('cliente_datos', {'id': id} ) }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('cliente_editar') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    <input type='hidden' name='id' value={{ id }}>
    <fieldset>
        <div class="control-group">
            {{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.nombre, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.tipodocumento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.tipodocumento, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.numero_documento, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.numero_documento, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.direccion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.direccion, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.telefono, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.telefono, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            {{ form_label(form.correo, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.correo, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
       

    </fieldset>
    <div class="row-fluid sortable ui-sortable">

    </div>  
<div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}

