{% extends '::base.html.twig' %}
{% block title %}Agregar Proveedor{% endblock %}
{% block cuerpo %}
<div class="box span12">
    <div class="box-header well" data-original-title="">
        Agregar Proveedor
        <div class="box-icon">
            <a href="{{ path("convocatorias_datos", {"id": id}) }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
        </div>
    </div>
    <div class="box-content">
		<form action="{{ path('convocatorias_proveedor', {"id": id}) }}" method="POST" {{ form_enctype(form) }}>
			<input type='hidden' name='id' value={{ id }}>
				{{ form_errors(form) }}			    

			{{ form_rest(form) }}
			<input type="submit" value="Enviar"/>
		</form>
	</div>
</div>
{% endblock %}
