{% extends '::baseLte.html.twig' %}

{% block title %}{{ parent() }}::Catálogo Editar{% endblock %}
{% block sectiontitle %}<h1>Catálogos<small>Catálogo Editar</small></h1>{% endblock %}
{% block breadcum %} <li><a href="{{ path('catalogo') }}"><i class="fa fa-star"></i>Catálogos</a>
    <li class="active">Editar</li>{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-10">
        <!-- Horizontal Form -->
        <div class="box box-warning">
            <div class="box-header bg-black">
              <h3 class="box-title"><i class="icon-edit"></i>Catálogo Editar</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="{{ path('catalogo_editar') }}/{{ id }}" method="POST" class="form-horizontal">
                {{ form_errors(form) }}
              <div class="box-body">
                <div class="form-group">
                    *{{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.programa, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.programa, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.pais, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.pais, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.catalogotipo, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.catalogotipo, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.valorPunto, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.valorPunto, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    *{{ form_label(form.puntosMaximos, label|default(null), { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.puntosMaximos, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>    
                <div class="box-footer">
                    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-info pull-right'} }) }}
                </div>
                {{ form_widget(form._token) }}
                <!-- /.box-footer -->
            </form>
          <!-- /.box -->
        </div>
    </div>
</div>
{% endblock %}


