{% extends "::base.html.twig" %}

{% block title %}Catalogo{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
  <div class="box span12">
    <div class="box-header well">
      <h2><i class="icon-th-list"></i>Catalogo</h2>
      <div class="box-icon">
          <a href="{{ path('catalogo_datos', {"id": id}) }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
      </div>
    </div>
    <div class="box-content">
      {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
                          <form action="{{ path('catalogo_galeria', {"id": id}) }}" method="POST"  class="form-horizontal">

                            <table class="table table-bordered table-striped">
                            <tr>
                              <th>Catálogo</th><th colspan="2">{{ catalogo.nombre }}</th>
                              <th>Programa</th><th colspan="2">{{ catalogo.programa.nombre }}</th>
                              <th><div class="box-icon">{{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}</</th>
                            </tr>
                            <tr>
                              <th>{{ knp_pagination_sortable(productos, 'Nombre', 'p.nombre') }}</th>
                              <th>{{ knp_pagination_sortable(productos, 'Categoria', 'c.nombre') }}</th>
                              <th>{{ knp_pagination_sortable(productos, 'Referencia', 'p.referencia') }}</th>
                              <th>{{ knp_pagination_sortable(productos, 'Marca', 'p.marca') }}</th>
                              <th>{{ knp_pagination_sortable(productos, 'SKU', 'p.codInc') }}</th>
                              <th>{{ knp_pagination_sortable(productos, 'Estado', 'pc.activo') }}</th>
                              <th>{{ knp_pagination_sortable(productos, 'Valor', 'pc.precio') }}</th>
                            </tr>
                            <tr>
                              <th>{{ form_widget(form.nombre, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                              <th>{{ form_widget(form.categoria, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                              <th>{{ form_widget(form.referencia, { 'attr': { 'style' : 'width:150px' }} ) }}</th>
                              <th>{{ form_widget(form.marca, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                              <th>{{ form_widget(form.codInc, { 'attr': { 'style' : 'width:100px' }} ) }}</th>
                              <th>{{ form_widget(form.estado, { 'attr': { 'style' : 'width:80px' }} ) }}</th>
                              <th><input type="text" style="width:150px" maxlength="255" name="producto[precio]" id="producto_precio"></th>
                            </tr>
                            {% if not is_granted('ROLE_CLI') %}
                            <tr>
                              <th>Tipo de Vista</th>
                              <th><a href="{{ path('catalogo_galeria', {"id": id, "vista": 1}) }}" class="btn btn-primary">Participante</a></th>
                              <th><a href="{{ path('catalogo_galeria', {"id": id, "vista": 2}) }}" class="btn btn-primary">Cliente</a></th>
                              <th><a href="{{ path('catalogo_galeria', {"id": id, "vista": 3}) }}" class="btn btn-primary">D. Comercial</a></th>
                              <th><a href="{{ path('catalogo_galeria', {"id": id, "vista": 4}) }}" class="btn btn-primary">Ejecutivo</a></th>
                              <th><a href="{{ path('catalogo_galeria', {"id": id, "vista": 5}) }}" class="btn btn-primary">Operaciones</a></th>
                              <th><a href="{{ path('catalogo_galeria', {"id": id, "vista": 0}) }}" class="btn btn-primary">Todos</a></th>
                             </tr>
                             {% endif %}
                          </table>
                        </form>
      <br>
        {% for producto in productos %}
        {% set i=0 %}
          <div class="box span" style="height: 350px; width:230px">
            <div class="box-header well" data-original-title="">
              <h2>{{ producto.codigo }}</h2>
            </div>
            <div class="box-content">
                  <ul class="thumbnails gallery">
                    {% if(producto.imagen) %}
                    <li id="imagen-{{producto.id}}" class="thumbnail" style="widht: 100px">
                      <a class="cboxElement" href="../../../{{ producto.imagen | slice (7)}}" style="background:url(../../../{{(producto.imagen| slice (7))[:-4]}}_min.jpg)">
                        <img alt="{{ producto.imagen }}" src="../../../{{(producto.imagen| slice (7))[:-4]}}_min.jpg" style="display: block;">
                      </a>
                    </li>
                    {% endif %}
                  </ul>
              <table class="table">
                <tbody>
                  <tr>
                    <td>{{ producto.nombre }}</td>
                  </tr>
                  <tr>
                    <td>REF: {{ producto.referencia }}</td>
                  </tr>
                  <tr>
                    <td>Puntos: {{ producto.puntos }}</td>
                  </tr>
                  {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_CAT') %}
                    <tr>
                      <td>Puntos Promoción:
                      {% if (producto.promocion) %}
                          {{ producto.promocion[0].puntos }}
                          <a href="{{ path('promociones_datos', {"promocion": producto.promocion[0].id }) }}" target="_blank"> 
                            <button class="btn btn-small btn-info">
                              <i class="fa fa-plus"></i> Ver
                            </button>
                          </a>
                      {% else %}
                          <a class="promociones_nuevo" href="{{ path('promociones_nuevo', {"premio": producto.id}) }}">
                            <button class="btn btn-small btn-success">
                              <i class="fa fa-plus"></i> Agregar
                            </button>
                          </a>
                      {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') or is_granted('ROLE_EJEC') or is_granted('ROLE_COM') or (is_granted('ROLE_CLI') and precioVenta==1) %}
                   <tr>
                     {% set valorventa =  producto.precio/(1-(producto.incremento/100)) + producto.logistica %}
                    <td>Precio de Venta: $ {{ (valorventa |round(2, 'ceil'))|number_format(2, ',', '.') }}</td>
                  </tr>
                  {% endif %}
                 
                </tbody>
              </table>     
              
            </div>
          </div>       
        {% endfor %}  
        

    </div>

   <div class="box span11">
        <div class="box-content">
                <div class="dataTables_info">Mostrando {{ productos.getItemNumberPerPage*(productos.getCurrentPageNumber-1)+1  }} a {{ productos.getItemNumberPerPage*productos.getCurrentPageNumber }} de {{ productos.getTotalItemCount }}   Productos
                </div>
                <div class="pagination pagination-centered">
                        {{ knp_pagination_render(productos) }}                    
                </div>
        </div>
    </div>

  </div>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
  
  <script type="text/javascript">
    $(".promociones_nuevo").colorbox({href: this.href});
  </script>

{% endblock %}
