{% extends '::baseLte.html.twig' %}

{% block title %}{{ parent() }}::Catálogos De Premios{% endblock %}
{% block sectiontitle %}<h1>Catálogos<small>Listado de Catálogos</small></h1>{% endblock %}
{% block breadcum %} <li><a href=""><i class="fa fa-star-o"></i>Catálogos</a></li><li class="active"></li>{% endblock %}

{% block content %}
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-warning">
            <div class="box-header bg-black">
              <h3 class="box-title">Catálogos De Premios</h3> 
              <div class="box-tools pull-right"> 
                      <a href="{{ path('catalogo_nuevo') }}" title="Crear Catálogo" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a>
              </div>
            </div>
            <div class="box-body no-padding">
              <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-condensed dataTable" id="productos" role="grid">
                        <thead>
                          {{ form_start(form, { attr: {novalidate: 'novalidate', class: 'form-horizontal'} }) }}
                            <tr>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Id', 'c.id') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Nombre', 'c.nombre') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Programa', 'c.programa') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Cliente', 'c.cliente') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Pais', 'ps.nombre') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Tipo', 'c.catalogotipo') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Fecha Inicio', 'p.fechainicio') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Fecha Fin', 'p.fechafin') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Valor Punto', 'c.valorPunto') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Puntos Max.', 'c.puntosMaximos') }}</th>
                                <th class="sorting" tabindex="0" rowspan="1" colspan="1">{{ knp_pagination_sortable(catalogos, 'Estado', 'e.nombre') }}</th>
                                <th colspan="2"></th>
                            </tr>
                            <tr>
                                <th><input type="text" id="catalogo_id" name="catalogosnuevo[id]" style="width: 40px" value="{%if filtros.id is defined %}{{ filtros.id }}{% endif %}" class="form-control input-sm"></th>
                                <th>{{ form_widget(form.nombre, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.nombre | default("") } ) }}</th>
                                <th>{{ form_widget(form.programa, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.programa | default("") } ) }}</th>
                                <th>{{ form_widget(form.nombre, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.nombre | default("") } ) }}</th>
                                <th>{{ form_widget(form.pais, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.pais | default("") } ) }}</th>
                                <th>{{ form_widget(form.catalogotipo, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.catalogotipo | default("") } ) }}</th>
                                <th><input type="text" id="catalogo_id" name="catalogosnuevo[fechainicio]" style="width: 80px" value="{%if filtros.fechainicio is defined %}{{ filtros.fechainicio }}{% endif %}" class="form-control input-sm"></th>
                                <th><input type="text" id="catalogo_id" name="catalogosnuevo[fechafin]" style="width: 80px" value="{%if filtros.fechafin is defined %}{{ filtros.fechafin }}{% endif %}" class="form-control input-sm"></th>
                                <th>{{ form_widget(form.valorPunto, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.valorPunto | default("") } ) }}</th>
                                <th>{{ form_widget(form.puntosMaximos, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.puntosMaximos | default("") } ) }}</th>                                
                                <th>{{ form_widget(form.estado, { 'attr': { 'class' : 'form-control input-sm' }, 'value': filtros.estado | default("") } ) }}</th>
                                <th>
                                  {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary btn-xs'}, 'label': 'Buscar' }) }}
                                
                                  <a class="btn btn-danger btn-xs" title="Limpiar" id="borrar"><i class="fa fa-trash"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for catalogo in catalogos %}
                            <tr role="row">
                              <td><a href="{{ path("catalogo_datos", {"id": catalogo.id}) }}">{{ catalogo.id }}</a></td>
                              <td>{{ catalogo.nombre }}</td>
                              <td>{{ catalogo.programa.nombre }}</td>
                              <td>{{ catalogo.programa.cliente.nombre }}</td>
                              <td>{{ catalogo.pais.nombre }}</td>
                              <td>{{ catalogo.catalogotipo.nombre }}</td>
                              <td>{{ catalogo.programa.fechainicio | date("Y-m-d")  }}</td>
                              <td>{{ catalogo.programa.fechafin | date("Y-m-d") }}</td>
                              {% if not is_granted('ROLE_CLI') %}
                              <td>{{ catalogo.valorPunto }}</td>
                              <td>{{ catalogo.puntosMaximos }}</td>
                              
                              <td>
                                {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_DIR') or is_granted('ROLE_ASISCOMP') or is_granted('ROLE_LOGIS') or is_granted('ROLE_CAT') %}
                                  {% if (catalogo.estado.id!=1) %}<a class="btn btn-danger 1" onClick="confirmar('{{ url("catalogo_estado", {"id": catalogo.id}) }}')" href="#">Inactivo</a>{% else %}<a class="btn btn-success 1" onClick="confirmar('{{ url("catalogo_estado", {"id": catalogo.id}) }}')" href="#">Activo</a>{% endif %}
                                {% endif %}
                              </td>
                              {% endif %}
                          </tr>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>   
              </div>
              <div class="row">
                <div class="col-sm-5"><div class="dataTables_info" role="status" aria-live="polite">Mostrando {{ catalogos.getItemNumberPerPage*(catalogos.getCurrentPageNumber-1)+1  }} a {{ catalogos.getItemNumberPerPage*catalogos.getCurrentPageNumber }} de {{ catalogos.getTotalItemCount }}   Catálogos</div></div>

                <div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers">
                {{ knp_pagination_render(catalogos) }}</div></div>
              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}

{{ parent() }}

  <script type="text/javascript">
  
      function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del catálogo")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
 
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();  
    });



    $(function(){
        $('#borrar').on('click', function(e){
            e.preventDefault(); // prevent the default form submit actio
            var form = document.forms['catalogosnuevo'];
            var input = document.createElement( "input" );
            input.setAttribute( "name", "limpiar" );
            input.setAttribute( "value", "1" );
            form.appendChild( input );
            form.submit();
        });
    });
</script>

{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <style>
    body {
        width: 140%;
    }
  </style>

{% endblock %}


