{% extends "::base.html.twig" %}

{% block title %}Clientes{% endblock %}
{% block sidebar %}
{{ parent() }}
{% endblock %}
{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
		<div class="box-header well">
      <h2><i class="icon-th-list"></i>Clientes</h2>
      <div class="box-icon">
           {% if is_granted('ROLE_DIR') %}
              <a href="{{ path('cliente_nuevo') }}" class="btn btn-round" title="Agregar"><i class="icon-plus"></i></a>
            {% endif %}
      </div>
    </div>
		<div class="box-content">
			<div id="dashboard">
                    <div id="tabla" class="" cellspacing="0" width="100%">
                      <table id="clientes" class="display">
                        <thead style="display:table-row-group;"  >
                          <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for cliente in listado %}
                          <tr>
                            <td><a href="{{ path("cliente_datos", {"id": cliente.id}) }}">{{ cliente.nombre }}</a></td>
                            <td>{{ cliente.tipodocumento.nombre }} {{ cliente.numerodocumento }}</td>
                            <td>{{ cliente.direccion }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.correo }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                         <tfoot style="display: table-header-group;">
                          <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>    
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

	
    <script type="text/javascript">
 $(document).ready(function() {
//    inifuntion
 var table = $('#clientes').dataTable({

            "sDom": 'T<"clear">lfrtip',
             "bPaginate": true,
             "bLengthChange": true,
             "bFilter": true,
             "bSort": true,
             "bInfo": false,
             "bAutoWidth": true,
             "bJQueryUI": false,
             "sPaginationType": "full_numbers",
             "iDisplayLength": 50,
             "aLengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "Todo"] ],
              initComplete: function () {
                    this.api().columns().every( function () {
                        var column = this;
                        var select = $('<select style="width: 100%"><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
         
                                column
                                    .search( val ? '^'+val+'$' : '', true, false )
                                    .draw();
                            } );
         
                        column.data().unique().sort().each( function ( d, j ) {
                            //limpiar
                            //d
                            select.append( '<option value="'+d+'">'+d+'</option>' )
                        } );
                    } );
                }
    });

})
  </script>

  <script type="text/javascript">
      function confirmar(ruta)
      {
        if (confirm("Desea cambiar el estado del producto")==true){
            self.location=ruta;
        }else{
            alert("OK");
        }
        
      }
  </script>

{% endblock %}

