{% extends "::base.html.twig" %}

{% block title %}Editar Centro de Costos{% endblock %}

{% block cuerpo %}
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i>Edigar Centro de Costos</h2>
                        <div class="box-icon">
                            <a href="{{ path('centrocostos') }}" class="btn btn-round"><i class="icon-arrow-left"></i></a>
                        </div>
                    </div>
<div class="box-content">
<form action="{{ path('centrocostos_editar', {'id': id}) }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    <input type='hidden' name='id' value={{ id }}>
    <fieldset>
        <div class="control-group">
            * {{ form_label(form.centroCostos, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.centroCostos, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            * {{ form_label(form.nombre, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.nombre, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
        <div class="control-group">
            * {{ form_label(form.descripcion, label|default(null), { 'label_attr': { 'class': 'control-label' } }) }}
            <div class="controls">
                {{ form_widget(form.descripcion, { 'attr': {'class': 'input-xlarge focused'} }) }}
            </div>
        </div>
    </fieldset>
<div class="form-actions">
    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_widget(form._token) }}
</form>
</div>
</div>
 </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}