
<form action="{{ path('ordenredencion_valores') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_errors(form) }}
    <input type='hidden' name='id' value={{ id }}>
    <fieldset>
		<table>
			<tr>
				<td> 
			        Cantidad {{ form_widget(form.cantidad, { 'attr': {'class': 'input-xlarge focused'} }) }}
				</td>
			</tr>
			<tr>
				<td> 
			        Valor Unidad {{ form_widget(form.valorunidad, { 'attr': {'class': 'input-xlarge focused'} }) }}
				</td>
			</tr>
			<tr>
				<td> Descuento {{ form_widget(form.descuento, { 'attr': {'class': 'input-xlarge focused'} }) }}
				</td>
			</tr>
			<tr>
				<td> 
				    {{ form_widget(form.Enviar, { 'attr': {'class': 'btn btn-primary'} }) }}
				</td>
			</tr>
		</table>
</fieldset>
{{ form_widget(form._token) }}
</form>